$color_white:white;
$color_black:black;
$color_red:red;
$bg_top:#313a45;
$color_button:#3AC4FA;
$color_button_hover:#f7c411;
$color_body:#5c5c5c;
$color_text: #e5e5e5;
$color_menu:#444;
body {
    color: $color_body;
    line-height: 1.5;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}

.open-nav {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 23px;
    cursor: pointer;
    z-index: 99;
}

#menu-mobile {
    background: #f6f6f6;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 300px;
    height: 100%;
    -webkit-transform: translateX(-300px);
    -moz-transform: translateX(-300px);
    -ms-transform: translateX(-300px);
    -o-transform: translateX(-300px);
    transform: translateX(-300px);
    transition: all 0.4s;
    overflow: auto;
    .nav_mobile {
        padding: 20px 15px;
        h2 {
            color: #333;
            font-weight: 700;
            font-size: 24px;
            margin: 0;
            margin-bottom: 10px;
            position: relative;
            text-align: center;
            img {
                max-height: 50px;
            }
            i {
                font-size: 20px;
                font-weight: 400;
                position: absolute;
                right: 0;
                color: $color_button;
                cursor: pointer;
            }
        }
        .search-mb {
            border: 1px solid #e9e9e9;
            padding: 20px 0;
            border-right: none;
            border-left: none;
            form {
                position: relative;
                .search {
                    border: 1px solid #e9e9e9;
                    width: 100%;
                    padding: 7px 10px;
                }
                .submit {
                    position: absolute;
                    top: 0;
                    right: 0;
                    background: $color_button;
                    padding: 8px 10px;
                    border: none;
                    color: #fff;
                }
            }
        }
        ul {
            list-style: none;
            padding: 0;
            overflow: auto;
            li {
                clear: both;
                border-top: 1px solid #e9e9e9;
                position: relative;
                &:first-child {
                    border: none;
                }
                a {
                    color: $color_black;
                    padding: 10px 0;
                    display: inline-block;
                    text-decoration: none;
                    &:hover {
                        // opacity: 0.8;
                        color: $color_button;
                    }
                }
                .sub-menu {
                    padding: 0;
                    max-height: 0;
                    transition: all 0.5s;
                    overflow: hidden;
                    li {
                        &:first-child {
                            border-top: 1px solid #e9e9e9;
                        }
                        a {
                            padding-left: 20px;
                            display: inline-block;
                        }
                    }
                    .sub-menu {
                        max-height: 0;
                        overflow: hidden;
                        a {
                            padding-left: 40px;
                        }
                    }
                }
            }
            .active {
                a {
                    font-weight: 700;
                }
            }
        }
        .user-nav-mb {
            padding-bottom: 30px;
            span {
                width: 50%;
                float: left;
                i {
                    margin-right: 10px;
                    color: $color_button;
                }
                a {
                    color: $color_black;
                }
            }
        }
    }
    .accordion {
        color: $color_button;
        cursor: pointer;
        width: 10%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        transition: all 0.4s;
        position: absolute;
        top: 0;
        right: 0;
        padding: 8px 0;
        background: none;
    }
    .accordion:after {
        content: "\f067";
        font-family: fontAwesome;
        color: $color_button;
        font-weight: bold;
        margin-left: 5px;
    }
    .accordion.active:after {
        content: "\f068";
        font-family: FontAwesome;
    }
}

header {
    .hd_top {
        font-size: 13px;
        font-family: 'Roboto', sans-serif;
        background-color: $bg_top;
        padding: 12px 0;
        ul {
            padding: 0;
            margin: 0;
            li {
                list-style: none;
                display: inline-block;
                a {
                    color: $color_text;
                    font-weight: normal;
                }
            }
        }
        .hd_left {
            float: left;
            ul {
                li {
                    padding-right: 10px;
                    a {
                        i {
                            padding-right: 3px;
                        }
                        .fa.fa-phone {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
        .hd_right {
            float: right;
            ul {
                li {
                    &:first-child {
                        &::after {
                            content: "";
                            color: $color_text;
                            border-right: 1px solid $color_text;
                            padding-left: 6px;
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
    }
    .hd_menu {
        position: relative;
        font-family: none;
        .collapse.navbar-collapse.navbar-ex1-collapse {
            padding: 0;
        }
        .navbar.navbar-default {
            border-radius: 0px;
            border: 0px;
            // background: red;
            padding-top: 10px;
            padding-bottom: 10px;
            margin: 0;
            background: $color_white;
        }
        .navbar-nav>li>a {
            color: $color_menu;
            text-transform: uppercase;
            text-shadow: none;
            transition: all 0.3s;
            font-size: 14px;
            font-weight: 400;
            line-height: 55px;
            letter-spacing: 1px;
            &:hover {
                color: $color_button;
                transition: all 0.3s;
            }
        }
        .logo {
            max-width: 150px;
            img {
                max-width: 300px;
                padding-bottom: 1px;
                height: 80px;
            }
        }
        .hd_search {
            line-height: 80px;
            a {
                text-decoration: none;
                text-transform: uppercase;
                color: $color_button;
                border: 1px solid $color_button;
                font-size: 14px;
                font-weight: 400;
                width: 100%;
                display: block;
                text-align: center;
                position: relative;
                transition: all 0.3s;
                font-size: 13px;
                &:hover {
                    background-color: $color_button;
                    color: $color_white;
                    transition: all 0.3s;
                }
                .fa.fa-search {
                    padding-left: 5px;
                }
            }
        }
        .sub_menu {
            position: relative;
            &:hover {
                .menu_show {
                    opacity: 1;
                    visibility: visible;
                    transition: all 0.3s;
                }
            }
            .menu_show {
                border-top: 2px solid #1ABC9C !important;
                width: 220px;
                background-color: $color_white;
                box-shadow: 0px 13px 42px 11px rgba(0, 0, 0, 0.05);
                border: 1px solid $color_text;
                position: absolute;
                z-index: 100;
                padding: 0;
                top: 95%;
                opacity: 0;
                visibility: hidden;
                transition: all 0.3s;
                li {
                    list-style: none;
                    a {
                        text-decoration: none;
                        text-transform: uppercase;
                        font-family: 'Roboto', sans-serif;
                        font-size: 14px;
                        font-weight: 400;
                        display: block;
                        padding: 10px 15px;
                        color: $color_button;
                        transition: all 0.3s;
                        margin-left: 0px;
                        &:hover {
                            background-color: #eeeeee;
                            transition: all 0.3s;
                            padding-left: 20px;
                        }
                    }
                }
                .sub_menu_2 {
                    position: relative;
                    &:hover {
                        .menu_show_2 {
                            opacity: 1;
                            visibility: visible;
                            transition: all 0.3s;
                        }
                    }
                    .fa-angle-right {
                        position: absolute;
                        right: 9px;
                        top: 11px;
                        font-size: 15px;
                    }
                    .menu_show_2 {
                        position: absolute;
                        left: 100%;
                        top: -5%;
                        border-top: 2px solid #1ABC9C !important;
                        width: 220px;
                        background-color: $color_white;
                        box-shadow: 0px 13px 42px 11px rgba(0, 0, 0, 0.05);
                        border: 1px solid $color_text;
                        position: absolute;
                        z-index: 100;
                        padding: 0;
                        opacity: 0;
                        visibility: hidden;
                        transition: all 0.3s;
                    }
                }
            }
        }
    }
}

.hd_form {
    padding: 10px 0 5px;
    input {
        box-shadow: none !important;
        color: #555 !important;
        border-color: $color_text !important;
        font-size: 16px;
    }
}

.slide {
    transition: all 0.5s;
    .owl-nav {
        margin: 0;
    }
    .owl-dots {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 10px;
    }
    .owl-theme .owl-dots .owl-dot span {
        background: none;
        border: 1px solid $color_white;
    }
    .owl-theme .owl-dots .owl-dot.active span,
    .owl-theme .owl-dots .owl-dot:hover span {
        background-color: $color_white;
    }
    &:hover {
        .owl-prev {
            opacity: 1;
            visibility: visible;
            transition: all 0.3s;
        }
        .owl-next {
            opacity: 1;
            visibility: visible;
            transition: all 0.3s;
        }
    }
    .owl-prev {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        color: $color_white !important;
        width: 50px;
        height: 50px;
        line-height: 40px;
        font-size: 30px !important;
        margin: 0 !important;
        background-color: rgba(0, 0, 0, 0.3) !important;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s;
        &:hover {
            background-color: rgba(0, 0, 0, 0.6) !important;
            transition: all 0.3s;
        }
    }
    .owl-next {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        color: $color_white !important;
        width: 50px;
        height: 50px;
        line-height: 40px;
        font-size: 30px !important;
        margin: 0 !important;
        background-color: rgba(0, 0, 0, 0.3) !important;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s;
        &:hover {
            background-color: rgba(0, 0, 0, 0.6) !important;
            transition: all 0.3s;
        }
    }
}

.welcome {
    padding-top: 40px;
    text-align: center;
    .wl_title {
        h2 {
            font-size: 24px;
            display: inline-block;
            line-height: 25px;
            margin-bottom: 55px;
            padding-bottom: 33px;
            position: relative;
            font-family: 'Raleway', sans-serif;
            &::after {
                background: transparent url("../images/nice-title.png") no-repeat scroll 0 0;
                bottom: -30%;
                content: "";
                height: 50%;
                left: calc(50% - 51.5px);
                position: absolute;
                width: 103px;
            }
        }
    }
    .wl_descipttion {
        padding: 0 2% 10px;
        p {
            font-size: 16px;
            margin-bottom: 30px;
        }
    }
    .wl_carousle {
        position: relative;
        .item_img {
            position: relative;
            overflow: hidden;
            img {
                transition: all 1s;
            }
            &::before {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                background: rgba(67, 69, 113, 0.07);
                z-index: 999;
                top: 0%;
                left: 0%;
                transition: 0.5s;
            }
            &::after {
                content: '';
                position: absolute;
                height: 100%;
                width: 100%;
                top: 0%;
                left: 0%;
                background: rgba(67, 69, 113, 0.07);
                z-index: 999;
                transition: 0.5s;
            }
            &:hover {
                img {
                    transform: scale(1.2);
                    transition: all 1s;
                }
                &::after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    bottom: 50%;
                    height: 0;
                    width: 100%;
                    background: rgba(255, 255, 255, 0.3);
                    z-index: 9999;
                    transition: 0.5s;
                }
                &::before {
                    content: '';
                    position: absolute;
                    width: 0%;
                    height: 100%;
                    background: rgba(255, 255, 255, 0.3);
                    z-index: 9999;
                    right: 50%;
                    left: 50%;
                    transition: 0.5s;
                }
            }
        }
        &:hover {
            .owl-prev {
                opacity: 1;
                visibility: visible;
                transition: all 0.3s;
            }
            .owl-next {
                opacity: 1;
                visibility: visible;
                transition: all 0.3s;
            }
        }
        .owl-prev {
            position: absolute;
            left: 0;
            top: 35%;
            transform: translateY(-50%);
            color: $color_white !important;
            width: 50px;
            height: 50px;
            line-height: 40px;
            font-size: 30px !important;
            margin: 0 !important;
            background-color: rgba(0, 0, 0, 0.3) !important;
            opacity: 0;
            visibility: hidden;
            transition: all 0.3s;
            &:hover {
                background-color: rgba(0, 0, 0, 0.6) !important;
                transition: all 0.3s;
            }
        }
        .owl-next {
            position: absolute;
            right: 0;
            top: 35%;
            transform: translateY(-50%);
            color: $color_white !important;
            width: 50px;
            height: 50px;
            line-height: 40px;
            font-size: 30px !important;
            margin: 0 !important;
            background-color: rgba(0, 0, 0, 0.3) !important;
            opacity: 0;
            visibility: hidden;
            transition: all 0.3s;
            &:hover {
                background-color: rgba(0, 0, 0, 0.6) !important;
                transition: all 0.3s;
            }
        }
        .owl-dots {
            display: none;
        }
        .item_content {
            h3 {
                margin-bottom: 20px;
                a {
                    font-weight: normal;
                    font-size: 18px;
                    text-decoration: none;
                    color: $color_menu;
                    text-transform: uppercase;
                    font-family: none;
                }
            }
            .item_price {
                padding-bottom: 30px;
                padding-top: 10px;
                .price_left {
                    float: left;
                    color: $color_red;
                    font-weight: 500;
                    font-size: 15px;
                    .price_sale {
                        line-height: 20px;
                        font-size: 13px;
                        padding-left: 10px;
                        font-weight: 400;
                        color: #888;
                        text-decoration: line-through;
                    }
                }
                .price_right {
                    float: right;
                    a {
                        padding: 6px 12px;
                        padding: 8px 12px;
                        color: $color_button;
                        border: 1px solid $color_button;
                        text-decoration: none;
                        font-size: 15px;
                        &:hover {
                            color: $color_white;
                            background-color: #3ac4fa;
                            transition: all 0.3s;
                        }
                    }
                }
            }
        }
    }
}

.hotel_facilities {
    margin: 90px 0 80px;
    background: url('../images/bg.jpg') no-repeat;
    .hotel_tab {
        padding: 75px 8px 95px 8px;
        text-align: center;
        ul {
            display: inline-block;
            li {
                display: inline-block;
                a {
                    color: $color_menu;
                    border-radius: 0px;
                    font-size: 14px;
                    span {
                        display: block;
                        text-transform: uppercase;
                    }
                    img {
                        display: block;
                        margin: 12px auto 10px;
                    }
                }
            }
        }
        .nav-pills>li {
            float: none;
        }
        .nav>.active>a {
            background: $color_white;
        }
        .nav>li>a {
            color: #444;
            background: #eeefed none repeat scroll 0 0;
            border: medium none;
            border-radius: 0;
            height: 100px;
            margin: 0;
            display: block;
            text-transform: uppercase;
            padding: 10px 20px;
            margin-right: -5px;
        }
        .tab-content {
            background: #fff none repeat scroll 0 0;
            padding: 55px;
            .tab_pro {
                .pro_img {
                    img {
                        width: 100%;
                    }
                }
                .pro_text {
                    text-align: left;
                    h3 {
                        margin-bottom: 27px;
                        margin-top: 5px;
                        font-size: 30px;
                        text-transform: uppercase;
                        font-family: none;
                    }
                    p {
                        font-family: Roboto, sans-serif;
                        line-height: 25px;
                        margin-bottom: 20px;
                        margin-top: 0;
                        text-align: justify;
                        font-size: 14px;
                    }
                    .date_out {
                        color: $color_button;
                        font-size: 14px;
                        padding: 0 15px;
                    }
                }
            }
        }
    }
}

.about_area {
    margin-bottom: 80px;
    .pd_left {
        padding-left: 0;
    }
    .about_title {
        margin-bottom: 50px;
        h5 {
            margin: 0;
            font-size: 20px;
            color: #131e2a;
        }
    }
    .title_left {
        text-align: left;
    }
    .title_center {
        text-align: center;
    }
    .title_right {
        text-align: right;
    }
    .about_carousel {
        ul {
            li {
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    .news_about {
        .about_pro {
            margin-top: 25px;
            padding: 15px 0px;
            border-bottom: solid 1px #e1e1e1;
            overflow: hidden;
            &:last-child {
                border-bottom: none;
            }
            .ab_title {
                h4 {
                    margin: 0 0 10px;
                    a {
                        color: #131e2a;
                        font-size: 16px;
                        font-weight: 400;
                        text-transform: none;
                        text-transform: uppercase;
                        text-decoration: none;
                        transition: all 0.3s;
                        &:hover {
                            color: $color_button;
                            transition: all 0.3s;
                        }
                    }
                }
                span {
                    margin-bottom: 25px;
                    display: block;
                }
            }
        }
    }
}

.about_slide {
    .owl-dots {
        display: none;
    }
    .owl-prev {
        position: absolute;
        bottom: 22%;
        right: 13%;
        font-size: 23px !important;
        background: none !important;
        color: $color_button !important;
    }
    .owl-next {
        position: absolute;
        bottom: 22%;
        right: 4%;
        font-size: 23px !important;
        background: none !important;
        color: $color_button !important;
    }
    p {
        padding: 25px 34px 53px;
        background-color: #E1EFCC;
        color: #424c55;
        font-size: 14px;
        line-height: 21px;
        display: inline-block;
        margin-bottom: 5px;
    }
    .ab_content {
        .ab_thumb {
            max-width: 80px;
            float: left;
            img {
                max-width: 80px;
            }
        }
        .ab_title {
            display: inline-block;
            padding-left: 15px;
            h3 {
                margin: 3px 0 15px;
                font-size: 14px;
                font-weight: bold;
            }
            span {
                font-size: 13px;
            }
        }
    }
}

.contact_share {
    .contact_us {
        background: $color_button;
        padding: 25px 35px;
        color: $color_white;
        .ct_email {
            line-height: 43px;
            font-size: 14px;
            i {
                padding-right: 3px;
                font-size: 16px;
            }
        }
        .ct_h_form {
            .form-group {
                position: relative;
                .btn_form {
                    position: absolute;
                    top: -5px;
                    right: 0;
                    border-radius: 0px;
                    background: $color_button;
                    border-color: #00ACEE;
                    color: $color_white;
                    box-shadow: none;
                    transition: all 0.3s;
                    &:hover {
                        background-color: #00ACEE;
                        transition: all 0.3s;
                    }
                }
                .input_form {
                    padding-left: 0;
                    width: 100%;
                    position: relative;
                    line-height: 20px;
                    outline: none;
                    color: $color_white !important;
                    font-size: 14px;
                    background: transparent;
                    border: 0;
                    border-bottom: 1px solid #fff;
                    border-radius: 0px;
                    box-shadow: none;
                    &::placeholder {
                        color: $color_white;
                        opacity: 0.6;
                    }
                }
            }
        }
        .ct_share {
            float: right;
            .icon_share {
                z-index: 2;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                text-align: center;
                transition: all 0.3s;
                &::before {
                    content: '';
                    opacity: 0.66;
                    width: 100%;
                    height: 100%;
                    left: 0;
                    top: 0;
                    position: absolute;
                }
                .team_icon {
                    width: 100%;
                    bottom: 20px;
                    a {
                        float: none;
                        position: relative;
                        z-index: 3;
                        font-size: 20px !important;
                        margin: 0 3px !important;
                        display: inline-block;
                        color: #fff;
                        border-radius: 2px;
                        overflow: hidden;
                        text-decoration: none;
                        i {
                            display: block;
                            line-height: 32px;
                            transition: all 0.4s;
                        }
                        &:hover {
                            i {
                                transition: all 0.4s;
                                transform: translateY(-32px);
                            }
                        }
                    }
                    .smail {
                        width: 32px;
                        height: 32px;
                        font-size: 14px;
                        line-height: 30px !important;
                    }
                    .fb_icon {
                        background-color: #3B5998;
                    }
                    .tw_icon {
                        background-color: #00ACEE;
                    }
                    .gg_icon {
                        background-color: #DD4B39;
                    }
                    .yt_icon {
                        background-color: #C4302B;
                    }
                }
            }
        }
    }
}

footer {
    background: $bg_top;
    padding: 80px 0;
    color: #DDD;
    ul {
        padding: 0;
        li {
            list-style: none;
            line-height: 30px;
            a {
                color: #DDD;
                font-size: 14px;
                i {
                    font-size: 15px !important;
                    padding-right: 5px;
                }
                .fa.fa-phone {
                    font-size: 18px !important;
                }
                .fa.fa-map-marker {
                    font-size: 18px !important;
                }
                &:hover {
                    text-decoration: none;
                    opacity: 0.8;
                    color: #DDD;
                }
            }
        }
    }
    .ft_logo {
        max-width: 160px;
        margin-bottom: 20px;
    }
    .ft_text {
        p {
            margin-bottom: 30px;
            opacity: 0.8;
            font-size: 14px;
        }
    }
    .ft_title {
        h3 {
            margin: 0;
            margin-bottom: 25px;
            font-size: 15px;
            font-weight: 600;
            letter-spacing: 2px;
            text-transform: uppercase;
            font-family: none;
        }
    }
    .ft_content {
        .news_ft {
            margin-bottom: 20px;
            padding-bottom: 20px;
            border-bottom: 1px dashed rgba(229, 229, 229, 0.3);
            &:last-child {
                border-bottom: none;
            }
            h4 {
                text-transform: uppercase;
                font-size: 14px;
                opacity: 0.8;
            }
        }
    }
}

.copyright {
    background: #5c5c5c;
    color: $color_white;
    opacity: 0.8;
    font-size: 14px;
    text-align: center;
    padding: 10px 0;
    a {
        text-decoration: none;
        font-size: 14px;
        color: $color_button;
    }
}

.hotline_affix {
    position: fixed;
    left: 2%;
    bottom: 5%;
    z-index: 99999;
    a {
        background: #9c0603;
        padding: 8px 15px;
        color: $color_white;
        font-weight: 600;
        border-radius: 7px;
        i {
            font-size: 20px;
            padding-right: 3px;
        }
    }
}

.scrollup {
    width: 38px;
    height: 38px;
    position: fixed;
    right: 2%;
    bottom: 5%;
    background-color: $color_button;
    z-index: 99999 !important;
    text-align: center;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
}

.scrollup a {
    color: #fff;
    line-height: 30px;
    font-size: 20px;
    text-decoration: none;
    font-weight: 700;
}

.scrollup a:hover {
    background: $color_body;
}

// trang error
.error-page {
    background: $color_button;
    text-align: center;
    padding: 60px 0;
    h2 {
        font-style: normal;
        line-height: 1.4;
        margin-bottom: 15px;
        margin-top: 15px;
        text-rendering: optimizeLegibility;
        font-weight: 500;
        font-size: 40px;
        color: #fff;
    }
    a {
        color: #fff;
        border: 2px solid #fff;
        padding: 12px 32px;
        margin: 10px 5px;
        height: auto;
        min-height: 36px;
        line-height: 36px;
        font-size: 24px;
        display: inline-block;
    }
}


/* css contact */

.bread_crumb {
    margin: 0;
    font-size: 12px;
    padding: 10px 15px;
    background-color: #f8f8f8;
    border-radius: 0;
    line-height: 24px;
    margin-bottom: 24px;
    font-family: none;
    ul {
        padding: 0;
        margin: 0;
        li {
            list-style: none;
            display: inline-block;
            h1 {
                font-size: 12px;
                margin: 0;
                color: #7c7c7c;
            }
            a {
                color: #7c7c7c;
                font-size: 12px;
                text-decoration: none;
                &::after {
                    content: "\f101";
                    font-family: FontAwesome;
                    padding: 0 3px 0 6px;
                }
                &:hover {
                    color: $color_button;
                }
            }
        }
    }
}

.contact {
    padding-bottom: 40px;
    .contact_form {
        input {
            font-size: 13px;
            color: #333;
            height: 55px;
            padding: 0px 20px;
            border-color: #eee;
            box-shadow: none;
            margin-bottom: 15px;
        }
        textarea {
            min-height: 155px;
            padding: 20px;
            width: 100%;
            height: 84px;
            border: 1px solid #eee;
            border-radius: 4px;
        }
        .sm_comment {
            width: 100%;
            display: inline-block;
            height: 50px !important;
            font-size: 18px;
            line-height: 36px;
            padding: 0 20px;
            outline: none !important;
            border: solid 1px $color_button;
            background: $color_button;
            text-transform: uppercase;
            border-radius: 3px;
            color: $color_white;
            font-weight: 400;
            letter-spacing: 0;
            transition: all 0.4s;
            margin-bottom: 30px;
            &:hover {
                background-color: $color_white;
                color: $color_button;
                transition: all 0.4s;
            }
        }
    }
    .contact_address {
        h3 {
            margin-top: 0;
            font-size: 18px;
            font-weight: 700;
            margin-bottom: 20px;
            color: #333;
            text-transform: uppercase;
        }
        ul {
            padding: 0;
            li {
                list-style: none;
                line-height: 26px;
                a {
                    color: #575454;
                    transition: all 0.3s;
                    i {
                        width: 10px;
                        padding-right: 16px;
                    }
                    &:hover {
                        color: $color_button;
                        transition: all 0.3s;
                    }
                }
            }
        }
        p {
            font-size: 14px;
            margin: 20px 0px 0px;
        }
        .contact_carousle {
            padding: 10px;
            .owl-nav {
                display: none;
            }
            .owl-dots {
                display: none;
            }
        }
    }
}


/* detail_main*/

.detail_main {
    margin-bottom: 35px;
    margin-top: 35px;
    .entry_border {
        margin-bottom: 35px;
        border-bottom: 1px solid $color_text;
    }
    .detail_pro {
        margin: 0 0 50px;
        padding: 0 0 50px;
        border-bottom: 2px solid #F5F5F5;
        .detail_title {
            h1 {
                text-transform: uppercase;
                font-size: 36px;
                margin: 35px 0 5px;
                font-weight: 600;
                color: $bg_top;
                font-family: none;
                font-weight: 400;
            }
            .date {
                margin-bottom: 20px;
                ul {
                    padding: 0;
                    li {
                        list-style: none;
                        display: inline-block;
                        margin-right: 8px;
                        &:last-child {
                            &::after {
                                content: '';
                            }
                        }
                        &::after {
                            content: '/';
                            padding-left: 8px;
                        }
                        a {
                            color: $color_button;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
        .detail_content {
            font-family: 'Roboto', sans-serif;
            h3 {
                margin: 35px 0 20px;
                a {
                    text-transform: uppercase;
                    font-size: 24px;
                    font-weight: 600;
                    letter-spacing: 1px;
                    text-decoration: none;
                    color: $bg_top;
                    transition: all 0.3s;
                    &:hover {
                        color: $color_button;
                        transition: all 0.3s;
                    }
                }
            }
            .date {
                ul {
                    padding: 0;
                    li {
                        list-style: none;
                        display: inline-block;
                        margin-right: 8px;
                        &:last-child {
                            &::after {
                                content: '';
                            }
                        }
                        &::after {
                            content: '/';
                            padding-left: 8px;
                        }
                        a {
                            color: $color_button;
                            text-decoration: none;
                        }
                    }
                }
            }
            p {
                line-height: 1.8;
                margin-bottom: 30px;
                margin-top: 15px;
                font-size: 14px;
            }
            .xemthem {
                a {
                    color: $color_button;
                    font-style: italic;
                    font-size: 15px;
                }
            }
        }
    }
    .entry_title {
        h2 {
            margin-top: 0px;
            letter-spacing: 1px;
            margin-bottom: 25px;
            font-size: 18px;
            font-weight: 600;
        }
    }
    .entry_pro {
        margin-bottom: 20px;
        padding-bottom: 5px;
        border-bottom: 1px dashed #E5E5E5;
        &:last-child {
            border-bottom: none;
        }
        .entry_img {
            max-width: 90px;
            float: left;
            img {
                max-width: 90px;
                border-radius: 4px;
            }
        }
        .entry_text {
            display: block;
            width: 100%;
            height: 42px;
            overflow: hidden;
            margin: 10px 0;
            p {
                text-align: left;
            }
        }
        .entry_ct {
            display: table-cell;
            padding-left: 15px;
            h3 {
                margin: 3px 0 12px;
                a {
                    font-size: 13px;
                    color: $color_text;
                    text-decoration: none;
                    text-transform: uppercase;
                    color: #333;
                    display: block;
                }
            }
            span {
                a {
                    color: $color_button;
                    text-decoration: none;
                }
            }
        }
    }
    .tags {
        ul {
            padding: 0;
            li {
                list-style: none;
                display: inline-block;
                margin-bottom: 15px;
                a {
                    text-decoration: none;
                    background: $color_button;
                    border: 1px solid $color_button;
                    border-radius: 3px;
                    padding: 7px 10px;
                    color: $color_white;
                    transition: all 0.4s;
                    &:hover {
                        color: $color_button;
                        background: $color_white;
                        transition: all 0.4s;
                    }
                }
            }
        }
    }
}

.category {
    padding: 0 0 40px;
    text-align: left;
    .fa.fa-cubes {
        margin-right: 5px;
    }
    .item {
        margin-bottom: 35px;
    }
    .entry_border {
        .entry_pro {
            padding-bottom: 20px;
            .price_left {
                float: left;
                color: $color_red;
                font-weight: 500;
                .price_sale {
                    padding-left: 5px;
                    color: #888;
                    font-size: 12px;
                    text-decoration: line-through;
                }
            }
        }
    }
    .pagination a {
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
        transition: background-color .3s;
    }
    .pagination a.active {
        background-color: $color_button;
        color: white;
    }
    .pagination {
        float: right;
        margin: 40px 0;
    }
    .pagination a:hover:not(.active) {
        background-color: #ddd;
    }
    aside {
        margin-bottom: 35px;
        .aside_title {
            text-transform: uppercase;
            text-align: center;
            margin-bottom: 15px;
            line-height: 50px;
            font-size: 18px;
            color: $color_white;
            background: $color_button;
            padding: 12px 0 4px;
            margin-bottom: 0px;
            h2 {
                font-size: 16px;
                margin-top: 0px;
                font-weight: 600;
            }
            .fa-cubes::before {
                content: "\f1b3";
            }
        }
        ul {
            background: $color_white;
            padding-left: 0px;
            padding-top: 5px;
            border: 1px solid #E5E5E5;
            li {
                list-style: none;
                padding: 0px 20px;
                position: relative;
                border-bottom: 1px dashed #E5E5E5;
                &:last-child {
                    border-bottom: none;
                }
                a {
                    padding: 8px 0px 8px 0px;
                    font-weight: 600;
                    text-decoration: none;
                    color: #333;
                    opacity: 0.7;
                    text-align: left;
                    font-family: none;
                    display: block;
                    transition: all 0.4s;
                    &::before {
                        content: "\f101";
                        font-family: FontAwesome;
                    }
                    &:hover {
                        margin-left: 10px;
                        transition: all 0.4s;
                    }
                }
            }
        }
    }
    .cate_sapxep {
        margin-bottom: 15px;
        .pr_cart {
            float: right;
            h3 {
                display: inline-block;
                font-size: 15px;
                padding-right: 15px;
            }
            form {
                display: inline-block;
                .orderby {
                    border-radius: 4px;
                    border: 1px solid #e1e1e1;
                    width: 150px;
                    padding: 0 10px;
                    min-height: 30px;
                    line-height: 30px;
                    height: 30px;
                    color: #333;
                    transition: all 0.4s;
                }
                option {
                    padding: 5px 5px;
                }
            }
        }
        .pro_title {
            h2 {
                font-size: 18px;
                margin: 10px 0 22px;
            }
        }
    }
}

.single_main {
    .carousel-inner {
        margin-bottom: -5px;
    }
    .single_content {
        .sg_title {
            h1 {
                font-size: 30px;
                line-height: 39px;
                font-weight: 500;
                color: #231f20;
                margin: 0 0 10px 0;
            }
        }
        .sg_product {
            .thumb_main {
                img {
                    width: 100%;
                    cursor: pointer;
                }
                .owl-nav {
                    display: none;
                }
                .owl-dots {
                    display: none;
                }
            }
            .content_main {
                .border_bottom_details {
                    width: 100%;
                    padding: 2px 0px;
                    border: dashed 1px #ddd;
                    display: block;
                    margin: 40px 0px 25px;
                    border-right: 0px;
                    border-left: 0px;
                }
                .star {
                    i {
                        font-size: 13px;
                        color: #ffbe00;
                        margin-bottom: 10px;
                    }
                }
                .sg_price {
                    margin: 0px 0 20px;
                    .special_price {
                        font-size: 26px;
                        display: inline-block;
                        font-weight: bold;
                        color: #222222;
                    }
                    .sale_price {
                        margin-left: 5px;
                        padding-left: 10px;
                        position: relative;
                        color: #898989;
                        font-size: 26px;
                        text-decoration: line-through;
                        &::before {
                            content: " ";
                            width: 2px;
                            height: 20px;
                            background: #ddd;
                            position: absolute;
                            left: 0;
                            top: 4px;
                        }
                    }
                }
                .quantity_box {
                    position: relative;
                    margin-bottom: 20px;
                    .btn_quantity {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 40px;
                        height: 40px;
                        border-radius: 0px;
                        border: 1px solid #eee;
                        font-size: 28px;
                        line-height: 25px;
                    }
                    .btn_quantity_plus {
                        position: absolute;
                        right: 0;
                        top: 0;
                        width: 40px;
                        height: 40px;
                        border-radius: 0px;
                        border: 1px solid #eee;
                        font-size: 21px;
                    }
                    #numb\ {
                        text-align: center;
                    }
                    #numb {
                        text-align: center;
                        height: 40px;
                        text-align: center;
                        font-size: 16px;
                        border: 1px solid #eee;
                        box-shadow: none;
                    }
                }
                .cart_sg {
                    width: 300px;
                    height: 55px;
                    font-size: 20px;
                    border-radius: 3px;
                    background: $color_button;
                    border-color: $color_button;
                    position: relative;
                    transition: all 0.4s;
                    margin-bottom: 15px;
                    &:hover {
                        background-color: $color_white;
                        transition: all 0.4s;
                        color: $color_button;
                        text-shadow: none;
                    }
                    &::before {
                        position: absolute;
                        content: "\f291";
                        font-family: FontAwesome;
                        background: $color_button;
                        width: 55px;
                        height: 54px;
                        left: 0;
                        top: 0;
                        color: $color_white;
                        line-height: 50px;
                    }
                }
                .sg_hotline {
                    position: relative;
                    width: 300px;
                    height: 55px;
                    font-size: 20px;
                    border-radius: 3px;
                    background: #f8dd47;
                    border: 1px solid #f8dd47;
                    transition: all 0.4s;
                    padding-left: 65px;
                    .sg_phone {
                        font-weight: bold;
                        font-size: 22px;
                        color: red;
                    }
                    .sg_suport {
                        font-weight: 300;
                        font-size: 14px;
                        color: $color_white;
                    }
                    a {
                        text-decoration: none;
                    }
                    span {
                        display: block;
                    }
                    &::before {
                        position: absolute;
                        content: "\f095";
                        font-family: FontAwesome;
                        background: #f0c105;
                        text-align: center;
                        width: 55px;
                        height: 54px;
                        left: 0;
                        top: 0;
                        font-size: 22px;
                        color: $color_white;
                        line-height: 50px;
                    }
                }
            }
        }
        .sg_tab {
            margin-top: 35px;
            font-size: 14px;
            .tab-content {
                padding: 10px 0px;
                min-height: 200px;
            }
            .nav>li>a {
                position: relative;
                display: block;
                padding: 10px 0px;
                background: none;
                color: #333333;
                font-weight: 300;
                font-size: 17px;
                margin-right: 20px;
                padding-right: 20px;
                &:after {
                    content: "|";
                    position: absolute;
                    right: 0px;
                    color: #ddd;
                }
                &::last-child {
                    &:after {
                        content: "";
                    }
                }
            }
            .nav-pills>li.active>a {
                color: $color_button;
            }
        }
        .single_pro {
            border: none !important;
            .owl-nav {
                display: none;
            }
            .owl-dots {
                display: none;
            }
            .title_carousle {
                h2 {
                    text-decoration: none;
                    font-size: 23px;
                    margin: 10px 0 30px;
                    transition: all 0.3s;
                    color: #333333;
                }
            }
        }
    }
}

article {
    table {
        width: 100%;
        max-width: 100%;
        margin-bottom: 1rem;
    }
    table {
        display: block;
        width: 100%;
        overflow-x: auto;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        tbody {
            tr {
                &:nth-child(odd) {
                    background: #ccc;
                }
                &:nth-child(even) {
                    background: #fff;
                }
            }
        }
        tr {
            border: 1px solid #e1e1e1;
            td {
                border: 1px solid #e1e1e1;
                padding: 10px 5px 10px 10px;
            }
            th {
                border: 1px solid #e1e1e1;
                padding: 10px 5px;
                text-align: center;
            }
        }
    }
}


/* responsive */


/* 1199 991 767 480 414 375 360 320 max-width */

@media screen and (max-width: 1199px) {
    .price_sale {
        display: none;
    }
}

@media screen and (max-width: 991px) {
    .nav.navbar-nav {
        display: none;
    }
    .hd_menu .logo {
        max-width: 100px;
        display: inline-block;
        img {
            max-width: 130px !important;
            height: 50px !important;
        }
    }
    .pd_center {
        width: 100%;
        display: block;
        text-align: center;
    }
    .about_area .news_about .about_pro {
        padding: 0px
    }
    .about_area .pd_left {
        padding-left: 15px;
        margin-top: 10px;
    }
    .about_slide p {
        padding: 15px 15px 53px;
    }
    .about_slide .owl-prev {
        bottom: 20% !important;
        right: 18%;
    }
    .about_slide .owl-next {
        bottom: 20% !important;
    }
    .about_slide .ab_content .ab_title {
        padding-left: 7px;
    }
    .about_slide .ab_content .ab_thumb img {
        max-width: 57px;
        height: 55px;
    }
    .pb_bt {
        margin-bottom: 45px;
    }
    .hotel_facilities {
        background-size: cover;
        background-position: center center;
    }
    .price_sale {
        display: block;
        float: right;
    }
}

@media screen and (max-width: 767px) {
    .hotel_facilities .hotel_tab .nav>li>a {
        padding: 5px 10px;
        height: 90px;
    }
    .hotel_facilities .hotel_tab ul li a {
        font-size: 12px;
    }
    .hotel_facilities .hotel_tab .tab-content .tab_pro .pro_text h3 {
        margin-bottom: 20px;
        margin-top: 15px;
    }
    .about_area .pd_left {
        margin-top: 0px;
    }
    .about_area .about_title {
        margin-bottom: 30px;
        margin-top: 30px;
    }
    .title_right {
        text-align: center !important;
    }
    .title_left {
        text-align: center !important;
    }
    .about_slide .owl-prev {
        bottom: 32% !important;
        right: 10%;
    }
    .about_slide .owl-next {
        bottom: 32% !important;
    }
    .hotel_facilities .hotel_tab .tab-content {
        padding: 25px;
    }
    .hotel_facilities .hotel_tab ul li a {
        font-size: 11px;
    }
    .detail_main .detail_pro .detail_content h3 {
        margin: 20px 0 15px;
    }
    .category aside {
        padding-top: 110px;
    }
}

@media screen and (max-width: 480px) {
    .pd_w {
        width: 100%;
    }
}

@media screen and (max-width: 414px) {
    .hotel_facilities .hotel_tab .nav>li>a {
        padding: 5px 5px;
    }
}

@media screen and (max-width: 375px) {}

@media screen and (max-width: 360px) {}

@media screen and (max-width: 320px) {}