body {
  color: #5c5c5c;
  line-height: 1.5;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}

.open-nav {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 23px;
  cursor: pointer;
  z-index: 99;
}

#menu-mobile {
  background: #f6f6f6;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 300px;
  height: 100%;
  -webkit-transform: translateX(-300px);
  -moz-transform: translateX(-300px);
  -ms-transform: translateX(-300px);
  -o-transform: translateX(-300px);
  transform: translateX(-300px);
  transition: all 0.4s;
  overflow: auto;
}

#menu-mobile .nav_mobile {
  padding: 20px 15px;
}

#menu-mobile .nav_mobile h2 {
  color: #333;
  font-weight: 700;
  font-size: 24px;
  margin: 0;
  margin-bottom: 10px;
  position: relative;
  text-align: center;
}

#menu-mobile .nav_mobile h2 img {
  max-height: 50px;
}

#menu-mobile .nav_mobile h2 i {
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  right: 0;
  color: #3AC4FA;
  cursor: pointer;
}

#menu-mobile .nav_mobile .search-mb {
  border: 1px solid #e9e9e9;
  padding: 20px 0;
  border-right: none;
  border-left: none;
}

#menu-mobile .nav_mobile .search-mb form {
  position: relative;
}

#menu-mobile .nav_mobile .search-mb form .search {
  border: 1px solid #e9e9e9;
  width: 100%;
  padding: 7px 10px;
}

#menu-mobile .nav_mobile .search-mb form .submit {
  position: absolute;
  top: 0;
  right: 0;
  background: #3AC4FA;
  padding: 8px 10px;
  border: none;
  color: #fff;
}

#menu-mobile .nav_mobile ul {
  list-style: none;
  padding: 0;
  overflow: auto;
}

#menu-mobile .nav_mobile ul li {
  clear: both;
  border-top: 1px solid #e9e9e9;
  position: relative;
}

#menu-mobile .nav_mobile ul li:first-child {
  border: none;
}

#menu-mobile .nav_mobile ul li a {
  color: black;
  padding: 10px 0;
  display: inline-block;
  text-decoration: none;
}

#menu-mobile .nav_mobile ul li a:hover {
  color: #3AC4FA;
}

#menu-mobile .nav_mobile ul li .sub-menu {
  padding: 0;
  max-height: 0;
  transition: all 0.5s;
  overflow: hidden;
}

#menu-mobile .nav_mobile ul li .sub-menu li:first-child {
  border-top: 1px solid #e9e9e9;
}

#menu-mobile .nav_mobile ul li .sub-menu li a {
  padding-left: 20px;
  display: inline-block;
}

#menu-mobile .nav_mobile ul li .sub-menu .sub-menu {
  max-height: 0;
  overflow: hidden;
}

#menu-mobile .nav_mobile ul li .sub-menu .sub-menu a {
  padding-left: 40px;
}

#menu-mobile .nav_mobile ul .active a {
  font-weight: 700;
}

#menu-mobile .nav_mobile .user-nav-mb {
  padding-bottom: 30px;
}

#menu-mobile .nav_mobile .user-nav-mb span {
  width: 50%;
  float: left;
}

#menu-mobile .nav_mobile .user-nav-mb span i {
  margin-right: 10px;
  color: #3AC4FA;
}

#menu-mobile .nav_mobile .user-nav-mb span a {
  color: black;
}

#menu-mobile .accordion {
  color: #3AC4FA;
  cursor: pointer;
  width: 10%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: all 0.4s;
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px 0;
  background: none;
}

#menu-mobile .accordion:after {
  content: "\f067";
  font-family: fontAwesome;
  color: #3AC4FA;
  font-weight: bold;
  margin-left: 5px;
}

#menu-mobile .accordion.active:after {
  content: "\f068";
  font-family: FontAwesome;
}

header .hd_top {
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  background-color: #313a45;
  padding: 12px 0;
}

header .hd_top ul {
  padding: 0;
  margin: 0;
}

header .hd_top ul li {
  list-style: none;
  display: inline-block;
}

header .hd_top ul li a {
  color: #e5e5e5;
  font-weight: normal;
}

header .hd_top .hd_left {
  float: left;
}

header .hd_top .hd_left ul li {
  padding-right: 10px;
}

header .hd_top .hd_left ul li a i {
  padding-right: 3px;
}

header .hd_top .hd_left ul li a .fa.fa-phone {
  font-size: 14px;
}

header .hd_top .hd_right {
  float: right;
}

header .hd_top .hd_right ul li:first-child::after {
  content: "";
  color: #e5e5e5;
  border-right: 1px solid #e5e5e5;
  padding-left: 6px;
  margin-right: 5px;
}

header .hd_menu {
  position: relative;
  font-family: none;
}

header .hd_menu .collapse.navbar-collapse.navbar-ex1-collapse {
  padding: 0;
}

header .hd_menu .navbar.navbar-default {
  border-radius: 0px;
  border: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
  background: white;
}

header .hd_menu .navbar-nav > li > a {
  color: #444;
  text-transform: uppercase;
  text-shadow: none;
  transition: all 0.3s;
  font-size: 14px;
  font-weight: 400;
  line-height: 55px;
  letter-spacing: 1px;
}

header .hd_menu .navbar-nav > li > a:hover {
  color: #3AC4FA;
  transition: all 0.3s;
}

header .hd_menu .logo {
  max-width: 150px;
}

header .hd_menu .logo img {
  max-width: 300px;
  padding-bottom: 1px;
  height: 80px;
}

header .hd_menu .hd_search {
  line-height: 80px;
}

header .hd_menu .hd_search a {
  text-decoration: none;
  text-transform: uppercase;
  color: #3AC4FA;
  border: 1px solid #3AC4FA;
  font-size: 14px;
  font-weight: 400;
  width: 100%;
  display: block;
  text-align: center;
  position: relative;
  transition: all 0.3s;
  font-size: 13px;
}

header .hd_menu .hd_search a:hover {
  background-color: #3AC4FA;
  color: white;
  transition: all 0.3s;
}

header .hd_menu .hd_search a .fa.fa-search {
  padding-left: 5px;
}

header .hd_menu .sub_menu {
  position: relative;
}

header .hd_menu .sub_menu:hover .menu_show {
  opacity: 1;
  visibility: visible;
  transition: all 0.3s;
}

header .hd_menu .sub_menu .menu_show {
  border-top: 2px solid #1ABC9C !important;
  width: 220px;
  background-color: white;
  box-shadow: 0px 13px 42px 11px rgba(0, 0, 0, 0.05);
  border: 1px solid #e5e5e5;
  position: absolute;
  z-index: 100;
  padding: 0;
  top: 95%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}

header .hd_menu .sub_menu .menu_show li {
  list-style: none;
}

header .hd_menu .sub_menu .menu_show li a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  display: block;
  padding: 10px 15px;
  color: #3AC4FA;
  transition: all 0.3s;
  margin-left: 0px;
}

header .hd_menu .sub_menu .menu_show li a:hover {
  background-color: #eeeeee;
  transition: all 0.3s;
  padding-left: 20px;
}

header .hd_menu .sub_menu .menu_show .sub_menu_2 {
  position: relative;
}

header .hd_menu .sub_menu .menu_show .sub_menu_2:hover .menu_show_2 {
  opacity: 1;
  visibility: visible;
  transition: all 0.3s;
}

header .hd_menu .sub_menu .menu_show .sub_menu_2 .fa-angle-right {
  position: absolute;
  right: 9px;
  top: 11px;
  font-size: 15px;
}

header .hd_menu .sub_menu .menu_show .sub_menu_2 .menu_show_2 {
  position: absolute;
  left: 100%;
  top: -5%;
  border-top: 2px solid #1ABC9C !important;
  width: 220px;
  background-color: white;
  box-shadow: 0px 13px 42px 11px rgba(0, 0, 0, 0.05);
  border: 1px solid #e5e5e5;
  position: absolute;
  z-index: 100;
  padding: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}

.hd_form {
  padding: 10px 0 5px;
}

.hd_form input {
  box-shadow: none !important;
  color: #555 !important;
  border-color: #e5e5e5 !important;
  font-size: 16px;
}

.slide {
  transition: all 0.5s;
}

.slide .owl-nav {
  margin: 0;
}

.slide .owl-dots {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
}

.slide .owl-theme .owl-dots .owl-dot span {
  background: none;
  border: 1px solid white;
}

.slide .owl-theme .owl-dots .owl-dot.active span,
.slide .owl-theme .owl-dots .owl-dot:hover span {
  background-color: white;
}

.slide:hover .owl-prev {
  opacity: 1;
  visibility: visible;
  transition: all 0.3s;
}

.slide:hover .owl-next {
  opacity: 1;
  visibility: visible;
  transition: all 0.3s;
}

.slide .owl-prev {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  color: white !important;
  width: 50px;
  height: 50px;
  line-height: 40px;
  font-size: 30px !important;
  margin: 0 !important;
  background-color: rgba(0, 0, 0, 0.3) !important;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}

.slide .owl-prev:hover {
  background-color: rgba(0, 0, 0, 0.6) !important;
  transition: all 0.3s;
}

.slide .owl-next {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  color: white !important;
  width: 50px;
  height: 50px;
  line-height: 40px;
  font-size: 30px !important;
  margin: 0 !important;
  background-color: rgba(0, 0, 0, 0.3) !important;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}

.slide .owl-next:hover {
  background-color: rgba(0, 0, 0, 0.6) !important;
  transition: all 0.3s;
}

.welcome {
  padding-top: 40px;
  text-align: center;
}

.welcome .wl_title h2 {
  font-size: 24px;
  display: inline-block;
  line-height: 25px;
  margin-bottom: 55px;
  padding-bottom: 33px;
  position: relative;
  font-family: 'Raleway', sans-serif;
}

.welcome .wl_title h2::after {
  background: transparent url("../images/nice-title.png") no-repeat scroll 0 0;
  bottom: -30%;
  content: "";
  height: 50%;
  left: calc(50% - 51.5px);
  position: absolute;
  width: 103px;
}

.welcome .wl_descipttion {
  padding: 0 2% 10px;
}

.welcome .wl_descipttion p {
  font-size: 16px;
  margin-bottom: 30px;
}

.welcome .wl_carousle {
  position: relative;
}

.welcome .wl_carousle .item_img {
  position: relative;
  overflow: hidden;
}

.welcome .wl_carousle .item_img img {
  transition: all 1s;
}

.welcome .wl_carousle .item_img::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(67, 69, 113, 0.07);
  z-index: 999;
  top: 0%;
  left: 0%;
  transition: 0.5s;
}

.welcome .wl_carousle .item_img::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  left: 0%;
  background: rgba(67, 69, 113, 0.07);
  z-index: 999;
  transition: 0.5s;
}

.welcome .wl_carousle .item_img:hover img {
  transform: scale(1.2);
  transition: all 1s;
}

.welcome .wl_carousle .item_img:hover::after {
  content: '';
  position: absolute;
  top: 50%;
  bottom: 50%;
  height: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.3);
  z-index: 9999;
  transition: 0.5s;
}

.welcome .wl_carousle .item_img:hover::before {
  content: '';
  position: absolute;
  width: 0%;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
  z-index: 9999;
  right: 50%;
  left: 50%;
  transition: 0.5s;
}

.welcome .wl_carousle:hover .owl-prev {
  opacity: 1;
  visibility: visible;
  transition: all 0.3s;
}

.welcome .wl_carousle:hover .owl-next {
  opacity: 1;
  visibility: visible;
  transition: all 0.3s;
}

.welcome .wl_carousle .owl-prev {
  position: absolute;
  left: 0;
  top: 35%;
  transform: translateY(-50%);
  color: white !important;
  width: 50px;
  height: 50px;
  line-height: 40px;
  font-size: 30px !important;
  margin: 0 !important;
  background-color: rgba(0, 0, 0, 0.3) !important;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}

.welcome .wl_carousle .owl-prev:hover {
  background-color: rgba(0, 0, 0, 0.6) !important;
  transition: all 0.3s;
}

.welcome .wl_carousle .owl-next {
  position: absolute;
  right: 0;
  top: 35%;
  transform: translateY(-50%);
  color: white !important;
  width: 50px;
  height: 50px;
  line-height: 40px;
  font-size: 30px !important;
  margin: 0 !important;
  background-color: rgba(0, 0, 0, 0.3) !important;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}

.welcome .wl_carousle .owl-next:hover {
  background-color: rgba(0, 0, 0, 0.6) !important;
  transition: all 0.3s;
}

.welcome .wl_carousle .owl-dots {
  display: none;
}

.welcome .wl_carousle .item_content h3 {
  margin-bottom: 20px;
}

.welcome .wl_carousle .item_content h3 a {
  font-weight: normal;
  font-size: 18px;
  text-decoration: none;
  color: #444;
  text-transform: uppercase;
  font-family: none;
}

.welcome .wl_carousle .item_content .item_price {
  padding-bottom: 30px;
  padding-top: 10px;
}

.welcome .wl_carousle .item_content .item_price .price_left {
  float: left;
  color: red;
  font-weight: 500;
  font-size: 15px;
}

.welcome .wl_carousle .item_content .item_price .price_left .price_sale {
  line-height: 20px;
  font-size: 13px;
  padding-left: 10px;
  font-weight: 400;
  color: #888;
  text-decoration: line-through;
}

.welcome .wl_carousle .item_content .item_price .price_right {
  float: right;
}

.welcome .wl_carousle .item_content .item_price .price_right a {
  padding: 6px 12px;
  padding: 8px 12px;
  color: #3AC4FA;
  border: 1px solid #3AC4FA;
  text-decoration: none;
  font-size: 15px;
}

.welcome .wl_carousle .item_content .item_price .price_right a:hover {
  color: white;
  background-color: #3ac4fa;
  transition: all 0.3s;
}

.hotel_facilities {
  margin: 90px 0 80px;
  background: url("../images/bg.jpg") no-repeat;
}

.hotel_facilities .hotel_tab {
  padding: 75px 8px 95px 8px;
  text-align: center;
}

.hotel_facilities .hotel_tab ul {
  display: inline-block;
}

.hotel_facilities .hotel_tab ul li {
  display: inline-block;
}

.hotel_facilities .hotel_tab ul li a {
  color: #444;
  border-radius: 0px;
  font-size: 14px;
}

.hotel_facilities .hotel_tab ul li a span {
  display: block;
  text-transform: uppercase;
}

.hotel_facilities .hotel_tab ul li a img {
  display: block;
  margin: 12px auto 10px;
}

.hotel_facilities .hotel_tab .nav-pills > li {
  float: none;
}

.hotel_facilities .hotel_tab .nav > .active > a {
  background: white;
}

.hotel_facilities .hotel_tab .nav > li > a {
  color: #444;
  background: #eeefed none repeat scroll 0 0;
  border: medium none;
  border-radius: 0;
  height: 100px;
  margin: 0;
  display: block;
  text-transform: uppercase;
  padding: 10px 20px;
  margin-right: -5px;
}

.hotel_facilities .hotel_tab .tab-content {
  background: #fff none repeat scroll 0 0;
  padding: 55px;
}

.hotel_facilities .hotel_tab .tab-content .tab_pro .pro_img img {
  width: 100%;
}

.hotel_facilities .hotel_tab .tab-content .tab_pro .pro_text {
  text-align: left;
}

.hotel_facilities .hotel_tab .tab-content .tab_pro .pro_text h3 {
  margin-bottom: 27px;
  margin-top: 5px;
  font-size: 30px;
  text-transform: uppercase;
  font-family: none;
}

.hotel_facilities .hotel_tab .tab-content .tab_pro .pro_text p {
  font-family: Roboto, sans-serif;
  line-height: 25px;
  margin-bottom: 20px;
  margin-top: 0;
  text-align: justify;
  font-size: 14px;
}

.hotel_facilities .hotel_tab .tab-content .tab_pro .pro_text .date_out {
  color: #3AC4FA;
  font-size: 14px;
  padding: 0 15px;
}

.about_area {
  margin-bottom: 80px;
}

.about_area .pd_left {
  padding-left: 0;
}

.about_area .about_title {
  margin-bottom: 50px;
}

.about_area .about_title h5 {
  margin: 0;
  font-size: 20px;
  color: #131e2a;
}

.about_area .title_left {
  text-align: left;
}

.about_area .title_center {
  text-align: center;
}

.about_area .title_right {
  text-align: right;
}

.about_area .about_carousel ul li img {
  width: 100%;
  height: 100%;
}

.about_area .news_about .about_pro {
  margin-top: 25px;
  padding: 15px 0px;
  border-bottom: solid 1px #e1e1e1;
  overflow: hidden;
}

.about_area .news_about .about_pro:last-child {
  border-bottom: none;
}

.about_area .news_about .about_pro .ab_title h4 {
  margin: 0 0 10px;
}

.about_area .news_about .about_pro .ab_title h4 a {
  color: #131e2a;
  font-size: 16px;
  font-weight: 400;
  text-transform: none;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.3s;
}

.about_area .news_about .about_pro .ab_title h4 a:hover {
  color: #3AC4FA;
  transition: all 0.3s;
}

.about_area .news_about .about_pro .ab_title span {
  margin-bottom: 25px;
  display: block;
}

.about_slide .owl-dots {
  display: none;
}

.about_slide .owl-prev {
  position: absolute;
  bottom: 22%;
  right: 13%;
  font-size: 23px !important;
  background: none !important;
  color: #3AC4FA !important;
}

.about_slide .owl-next {
  position: absolute;
  bottom: 22%;
  right: 4%;
  font-size: 23px !important;
  background: none !important;
  color: #3AC4FA !important;
}

.about_slide p {
  padding: 25px 34px 53px;
  background-color: #E1EFCC;
  color: #424c55;
  font-size: 14px;
  line-height: 21px;
  display: inline-block;
  margin-bottom: 5px;
}

.about_slide .ab_content .ab_thumb {
  max-width: 80px;
  float: left;
}

.about_slide .ab_content .ab_thumb img {
  max-width: 80px;
}

.about_slide .ab_content .ab_title {
  display: inline-block;
  padding-left: 15px;
}

.about_slide .ab_content .ab_title h3 {
  margin: 3px 0 15px;
  font-size: 14px;
  font-weight: bold;
}

.about_slide .ab_content .ab_title span {
  font-size: 13px;
}

.contact_share .contact_us {
  background: #3AC4FA;
  padding: 25px 35px;
  color: white;
}

.contact_share .contact_us .ct_email {
  line-height: 43px;
  font-size: 14px;
}

.contact_share .contact_us .ct_email i {
  padding-right: 3px;
  font-size: 16px;
}

.contact_share .contact_us .ct_h_form .form-group {
  position: relative;
}

.contact_share .contact_us .ct_h_form .form-group .btn_form {
  position: absolute;
  top: -5px;
  right: 0;
  border-radius: 0px;
  background: #3AC4FA;
  border-color: #00ACEE;
  color: white;
  box-shadow: none;
  transition: all 0.3s;
}

.contact_share .contact_us .ct_h_form .form-group .btn_form:hover {
  background-color: #00ACEE;
  transition: all 0.3s;
}

.contact_share .contact_us .ct_h_form .form-group .input_form {
  padding-left: 0;
  width: 100%;
  position: relative;
  line-height: 20px;
  outline: none;
  color: white !important;
  font-size: 14px;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #fff;
  border-radius: 0px;
  box-shadow: none;
}

.contact_share .contact_us .ct_h_form .form-group .input_form::placeholder {
  color: white;
  opacity: 0.6;
}

.contact_share .contact_us .ct_share {
  float: right;
}

.contact_share .contact_us .ct_share .icon_share {
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  transition: all 0.3s;
}

.contact_share .contact_us .ct_share .icon_share::before {
  content: '';
  opacity: 0.66;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
}

.contact_share .contact_us .ct_share .icon_share .team_icon {
  width: 100%;
  bottom: 20px;
}

.contact_share .contact_us .ct_share .icon_share .team_icon a {
  float: none;
  position: relative;
  z-index: 3;
  font-size: 20px !important;
  margin: 0 3px !important;
  display: inline-block;
  color: #fff;
  border-radius: 2px;
  overflow: hidden;
  text-decoration: none;
}

.contact_share .contact_us .ct_share .icon_share .team_icon a i {
  display: block;
  line-height: 32px;
  transition: all 0.4s;
}

.contact_share .contact_us .ct_share .icon_share .team_icon a:hover i {
  transition: all 0.4s;
  transform: translateY(-32px);
}

.contact_share .contact_us .ct_share .icon_share .team_icon .smail {
  width: 32px;
  height: 32px;
  font-size: 14px;
  line-height: 30px !important;
}

.contact_share .contact_us .ct_share .icon_share .team_icon .fb_icon {
  background-color: #3B5998;
}

.contact_share .contact_us .ct_share .icon_share .team_icon .tw_icon {
  background-color: #00ACEE;
}

.contact_share .contact_us .ct_share .icon_share .team_icon .gg_icon {
  background-color: #DD4B39;
}

.contact_share .contact_us .ct_share .icon_share .team_icon .yt_icon {
  background-color: #C4302B;
}

footer {
  background: #313a45;
  padding: 80px 0;
  color: #DDD;
}

footer ul {
  padding: 0;
}

footer ul li {
  list-style: none;
  line-height: 30px;
}

footer ul li a {
  color: #DDD;
  font-size: 14px;
}

footer ul li a i {
  font-size: 15px !important;
  padding-right: 5px;
}

footer ul li a .fa.fa-phone {
  font-size: 18px !important;
}

footer ul li a .fa.fa-map-marker {
  font-size: 18px !important;
}

footer ul li a:hover {
  text-decoration: none;
  opacity: 0.8;
  color: #DDD;
}

footer .ft_logo {
  max-width: 160px;
  margin-bottom: 20px;
}

footer .ft_text p {
  margin-bottom: 30px;
  opacity: 0.8;
  font-size: 14px;
}

footer .ft_title h3 {
  margin: 0;
  margin-bottom: 25px;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: none;
}

footer .ft_content .news_ft {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px dashed rgba(229, 229, 229, 0.3);
}

footer .ft_content .news_ft:last-child {
  border-bottom: none;
}

footer .ft_content .news_ft h4 {
  text-transform: uppercase;
  font-size: 14px;
  opacity: 0.8;
}

.copyright {
  background: #5c5c5c;
  color: white;
  opacity: 0.8;
  font-size: 14px;
  text-align: center;
  padding: 10px 0;
}

.copyright a {
  text-decoration: none;
  font-size: 14px;
  color: #3AC4FA;
}

.hotline_affix {
  position: fixed;
  left: 2%;
  bottom: 5%;
  z-index: 99999;
}

.hotline_affix a {
  background: #9c0603;
  padding: 8px 15px;
  color: white;
  font-weight: 600;
  border-radius: 7px;
}

.hotline_affix a i {
  font-size: 20px;
  padding-right: 3px;
}

.scrollup {
  width: 38px;
  height: 38px;
  position: fixed;
  right: 2%;
  bottom: 5%;
  background-color: #3AC4FA;
  z-index: 99999 !important;
  text-align: center;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
}

.scrollup a {
  color: #fff;
  line-height: 30px;
  font-size: 20px;
  text-decoration: none;
  font-weight: 700;
}

.scrollup a:hover {
  background: #5c5c5c;
}

.error-page {
  background: #3AC4FA;
  text-align: center;
  padding: 60px 0;
}

.error-page h2 {
  font-style: normal;
  line-height: 1.4;
  margin-bottom: 15px;
  margin-top: 15px;
  text-rendering: optimizeLegibility;
  font-weight: 500;
  font-size: 40px;
  color: #fff;
}

.error-page a {
  color: #fff;
  border: 2px solid #fff;
  padding: 12px 32px;
  margin: 10px 5px;
  height: auto;
  min-height: 36px;
  line-height: 36px;
  font-size: 24px;
  display: inline-block;
}

/* css contact */
.bread_crumb {
  margin: 0;
  font-size: 12px;
  padding: 10px 15px;
  background-color: #f8f8f8;
  border-radius: 0;
  line-height: 24px;
  margin-bottom: 24px;
  font-family: none;
}

.bread_crumb ul {
  padding: 0;
  margin: 0;
}

.bread_crumb ul li {
  list-style: none;
  display: inline-block;
}

.bread_crumb ul li h1 {
  font-size: 12px;
  margin: 0;
  color: #7c7c7c;
}

.bread_crumb ul li a {
  color: #7c7c7c;
  font-size: 12px;
  text-decoration: none;
}

.bread_crumb ul li a::after {
  content: "\f101";
  font-family: FontAwesome;
  padding: 0 3px 0 6px;
}

.bread_crumb ul li a:hover {
  color: #3AC4FA;
}

.contact {
  padding-bottom: 40px;
}

.contact .contact_form input {
  font-size: 13px;
  color: #333;
  height: 55px;
  padding: 0px 20px;
  border-color: #eee;
  box-shadow: none;
  margin-bottom: 15px;
}

.contact .contact_form textarea {
  min-height: 155px;
  padding: 20px;
  width: 100%;
  height: 84px;
  border: 1px solid #eee;
  border-radius: 4px;
}

.contact .contact_form .sm_comment {
  width: 100%;
  display: inline-block;
  height: 50px !important;
  font-size: 18px;
  line-height: 36px;
  padding: 0 20px;
  outline: none !important;
  border: solid 1px #3AC4FA;
  background: #3AC4FA;
  text-transform: uppercase;
  border-radius: 3px;
  color: white;
  font-weight: 400;
  letter-spacing: 0;
  transition: all 0.4s;
  margin-bottom: 30px;
}

.contact .contact_form .sm_comment:hover {
  background-color: white;
  color: #3AC4FA;
  transition: all 0.4s;
}

.contact .contact_address h3 {
  margin-top: 0;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #333;
  text-transform: uppercase;
}

.contact .contact_address ul {
  padding: 0;
}

.contact .contact_address ul li {
  list-style: none;
  line-height: 26px;
}

.contact .contact_address ul li a {
  color: #575454;
  transition: all 0.3s;
}

.contact .contact_address ul li a i {
  width: 10px;
  padding-right: 16px;
}

.contact .contact_address ul li a:hover {
  color: #3AC4FA;
  transition: all 0.3s;
}

.contact .contact_address p {
  font-size: 14px;
  margin: 20px 0px 0px;
}

.contact .contact_address .contact_carousle {
  padding: 10px;
}

.contact .contact_address .contact_carousle .owl-nav {
  display: none;
}

.contact .contact_address .contact_carousle .owl-dots {
  display: none;
}

/* detail_main*/
.detail_main {
  margin-bottom: 35px;
  margin-top: 35px;
}

.detail_main .entry_border {
  margin-bottom: 35px;
  border-bottom: 1px solid #e5e5e5;
}

.detail_main .detail_pro {
  margin: 0 0 50px;
  padding: 0 0 50px;
  border-bottom: 2px solid #F5F5F5;
}

.detail_main .detail_pro .detail_title h1 {
  text-transform: uppercase;
  font-size: 36px;
  margin: 35px 0 5px;
  font-weight: 600;
  color: #313a45;
  font-family: none;
  font-weight: 400;
}

.detail_main .detail_pro .detail_title .date {
  margin-bottom: 20px;
}

.detail_main .detail_pro .detail_title .date ul {
  padding: 0;
}

.detail_main .detail_pro .detail_title .date ul li {
  list-style: none;
  display: inline-block;
  margin-right: 8px;
}

.detail_main .detail_pro .detail_title .date ul li:last-child::after {
  content: '';
}

.detail_main .detail_pro .detail_title .date ul li::after {
  content: '/';
  padding-left: 8px;
}

.detail_main .detail_pro .detail_title .date ul li a {
  color: #3AC4FA;
  text-decoration: none;
}

.detail_main .detail_pro .detail_content {
  font-family: 'Roboto', sans-serif;
}

.detail_main .detail_pro .detail_content h3 {
  margin: 35px 0 20px;
}

.detail_main .detail_pro .detail_content h3 a {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1px;
  text-decoration: none;
  color: #313a45;
  transition: all 0.3s;
}

.detail_main .detail_pro .detail_content h3 a:hover {
  color: #3AC4FA;
  transition: all 0.3s;
}

.detail_main .detail_pro .detail_content .date ul {
  padding: 0;
}

.detail_main .detail_pro .detail_content .date ul li {
  list-style: none;
  display: inline-block;
  margin-right: 8px;
}

.detail_main .detail_pro .detail_content .date ul li:last-child::after {
  content: '';
}

.detail_main .detail_pro .detail_content .date ul li::after {
  content: '/';
  padding-left: 8px;
}

.detail_main .detail_pro .detail_content .date ul li a {
  color: #3AC4FA;
  text-decoration: none;
}

.detail_main .detail_pro .detail_content p {
  line-height: 1.8;
  margin-bottom: 30px;
  margin-top: 15px;
  font-size: 14px;
}

.detail_main .detail_pro .detail_content .xemthem a {
  color: #3AC4FA;
  font-style: italic;
  font-size: 15px;
}

.detail_main .entry_title h2 {
  margin-top: 0px;
  letter-spacing: 1px;
  margin-bottom: 25px;
  font-size: 18px;
  font-weight: 600;
}

.detail_main .entry_pro {
  margin-bottom: 20px;
  padding-bottom: 5px;
  border-bottom: 1px dashed #E5E5E5;
}

.detail_main .entry_pro:last-child {
  border-bottom: none;
}

.detail_main .entry_pro .entry_img {
  max-width: 90px;
  float: left;
}

.detail_main .entry_pro .entry_img img {
  max-width: 90px;
  border-radius: 4px;
}

.detail_main .entry_pro .entry_text {
  display: block;
  width: 100%;
  height: 42px;
  overflow: hidden;
  margin: 10px 0;
}

.detail_main .entry_pro .entry_text p {
  text-align: left;
}

.detail_main .entry_pro .entry_ct {
  display: table-cell;
  padding-left: 15px;
}

.detail_main .entry_pro .entry_ct h3 {
  margin: 3px 0 12px;
}

.detail_main .entry_pro .entry_ct h3 a {
  font-size: 13px;
  color: #e5e5e5;
  text-decoration: none;
  text-transform: uppercase;
  color: #333;
  display: block;
}

.detail_main .entry_pro .entry_ct span a {
  color: #3AC4FA;
  text-decoration: none;
}

.detail_main .tags ul {
  padding: 0;
}

.detail_main .tags ul li {
  list-style: none;
  display: inline-block;
  margin-bottom: 15px;
}

.detail_main .tags ul li a {
  text-decoration: none;
  background: #3AC4FA;
  border: 1px solid #3AC4FA;
  border-radius: 3px;
  padding: 7px 10px;
  color: white;
  transition: all 0.4s;
}

.detail_main .tags ul li a:hover {
  color: #3AC4FA;
  background: white;
  transition: all 0.4s;
}

.category {
  padding: 0 0 40px;
  text-align: left;
}

.category .fa.fa-cubes {
  margin-right: 5px;
}

.category .item {
  margin-bottom: 35px;
}

.category .entry_border .entry_pro {
  padding-bottom: 20px;
}

.category .entry_border .entry_pro .price_left {
  float: left;
  color: red;
  font-weight: 500;
}

.category .entry_border .entry_pro .price_left .price_sale {
  padding-left: 5px;
  color: #888;
  font-size: 12px;
  text-decoration: line-through;
}

.category .pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

.category .pagination a.active {
  background-color: #3AC4FA;
  color: white;
}

.category .pagination {
  float: right;
  margin: 40px 0;
}

.category .pagination a:hover:not(.active) {
  background-color: #ddd;
}

.category aside {
  margin-bottom: 35px;
}

.category aside .aside_title {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 15px;
  line-height: 50px;
  font-size: 18px;
  color: white;
  background: #3AC4FA;
  padding: 12px 0 4px;
  margin-bottom: 0px;
}

.category aside .aside_title h2 {
  font-size: 16px;
  margin-top: 0px;
  font-weight: 600;
}

.category aside .aside_title .fa-cubes::before {
  content: "\f1b3";
}

.category aside ul {
  background: white;
  padding-left: 0px;
  padding-top: 5px;
  border: 1px solid #E5E5E5;
}

.category aside ul li {
  list-style: none;
  padding: 0px 20px;
  position: relative;
  border-bottom: 1px dashed #E5E5E5;
}

.category aside ul li:last-child {
  border-bottom: none;
}

.category aside ul li a {
  padding: 8px 0px 8px 0px;
  font-weight: 600;
  text-decoration: none;
  color: #333;
  opacity: 0.7;
  text-align: left;
  font-family: none;
  display: block;
  transition: all 0.4s;
}

.category aside ul li a::before {
  content: "\f101";
  font-family: FontAwesome;
}

.category aside ul li a:hover {
  margin-left: 10px;
  transition: all 0.4s;
}

.category .cate_sapxep {
  margin-bottom: 15px;
}

.category .cate_sapxep .pr_cart {
  float: right;
}

.category .cate_sapxep .pr_cart h3 {
  display: inline-block;
  font-size: 15px;
  padding-right: 15px;
}

.category .cate_sapxep .pr_cart form {
  display: inline-block;
}

.category .cate_sapxep .pr_cart form .orderby {
  border-radius: 4px;
  border: 1px solid #e1e1e1;
  width: 150px;
  padding: 0 10px;
  min-height: 30px;
  line-height: 30px;
  height: 30px;
  color: #333;
  transition: all 0.4s;
}

.category .cate_sapxep .pr_cart form option {
  padding: 5px 5px;
}

.category .cate_sapxep .pro_title h2 {
  font-size: 18px;
  margin: 10px 0 22px;
}

.single_main .carousel-inner {
  margin-bottom: -5px;
}

.single_main .single_content .sg_title h1 {
  font-size: 30px;
  line-height: 39px;
  font-weight: 500;
  color: #231f20;
  margin: 0 0 10px 0;
}

.single_main .single_content .sg_product .thumb_main img {
  width: 100%;
  cursor: pointer;
}

.single_main .single_content .sg_product .thumb_main .owl-nav {
  display: none;
}

.single_main .single_content .sg_product .thumb_main .owl-dots {
  display: none;
}

.single_main .single_content .sg_product .content_main .border_bottom_details {
  width: 100%;
  padding: 2px 0px;
  border: dashed 1px #ddd;
  display: block;
  margin: 40px 0px 25px;
  border-right: 0px;
  border-left: 0px;
}

.single_main .single_content .sg_product .content_main .star i {
  font-size: 13px;
  color: #ffbe00;
  margin-bottom: 10px;
}

.single_main .single_content .sg_product .content_main .sg_price {
  margin: 0px 0 20px;
}

.single_main .single_content .sg_product .content_main .sg_price .special_price {
  font-size: 26px;
  display: inline-block;
  font-weight: bold;
  color: #222222;
}

.single_main .single_content .sg_product .content_main .sg_price .sale_price {
  margin-left: 5px;
  padding-left: 10px;
  position: relative;
  color: #898989;
  font-size: 26px;
  text-decoration: line-through;
}

.single_main .single_content .sg_product .content_main .sg_price .sale_price::before {
  content: " ";
  width: 2px;
  height: 20px;
  background: #ddd;
  position: absolute;
  left: 0;
  top: 4px;
}

.single_main .single_content .sg_product .content_main .quantity_box {
  position: relative;
  margin-bottom: 20px;
}

.single_main .single_content .sg_product .content_main .quantity_box .btn_quantity {
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 40px;
  border-radius: 0px;
  border: 1px solid #eee;
  font-size: 28px;
  line-height: 25px;
}

.single_main .single_content .sg_product .content_main .quantity_box .btn_quantity_plus {
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 40px;
  border-radius: 0px;
  border: 1px solid #eee;
  font-size: 21px;
}

.single_main .single_content .sg_product .content_main .quantity_box #numb\ {
  text-align: center;
}

.single_main .single_content .sg_product .content_main .quantity_box #numb {
  text-align: center;
  height: 40px;
  text-align: center;
  font-size: 16px;
  border: 1px solid #eee;
  box-shadow: none;
}

.single_main .single_content .sg_product .content_main .cart_sg {
  width: 300px;
  height: 55px;
  font-size: 20px;
  border-radius: 3px;
  background: #3AC4FA;
  border-color: #3AC4FA;
  position: relative;
  transition: all 0.4s;
  margin-bottom: 15px;
}

.single_main .single_content .sg_product .content_main .cart_sg:hover {
  background-color: white;
  transition: all 0.4s;
  color: #3AC4FA;
  text-shadow: none;
}

.single_main .single_content .sg_product .content_main .cart_sg::before {
  position: absolute;
  content: "\f291";
  font-family: FontAwesome;
  background: #3AC4FA;
  width: 55px;
  height: 54px;
  left: 0;
  top: 0;
  color: white;
  line-height: 50px;
}

.single_main .single_content .sg_product .content_main .sg_hotline {
  position: relative;
  width: 300px;
  height: 55px;
  font-size: 20px;
  border-radius: 3px;
  background: #f8dd47;
  border: 1px solid #f8dd47;
  transition: all 0.4s;
  padding-left: 65px;
}

.single_main .single_content .sg_product .content_main .sg_hotline .sg_phone {
  font-weight: bold;
  font-size: 22px;
  color: red;
}

.single_main .single_content .sg_product .content_main .sg_hotline .sg_suport {
  font-weight: 300;
  font-size: 14px;
  color: white;
}

.single_main .single_content .sg_product .content_main .sg_hotline a {
  text-decoration: none;
}

.single_main .single_content .sg_product .content_main .sg_hotline span {
  display: block;
}

.single_main .single_content .sg_product .content_main .sg_hotline::before {
  position: absolute;
  content: "\f095";
  font-family: FontAwesome;
  background: #f0c105;
  text-align: center;
  width: 55px;
  height: 54px;
  left: 0;
  top: 0;
  font-size: 22px;
  color: white;
  line-height: 50px;
}

.single_main .single_content .sg_tab {
  margin-top: 35px;
  font-size: 14px;
}

.single_main .single_content .sg_tab .tab-content {
  padding: 10px 0px;
  min-height: 200px;
}

.single_main .single_content .sg_tab .nav > li > a {
  position: relative;
  display: block;
  padding: 10px 0px;
  background: none;
  color: #333333;
  font-weight: 300;
  font-size: 17px;
  margin-right: 20px;
  padding-right: 20px;
}

.single_main .single_content .sg_tab .nav > li > a:after {
  content: "|";
  position: absolute;
  right: 0px;
  color: #ddd;
}

.single_main .single_content .sg_tab .nav > li > a::last-child:after {
  content: "";
}

.single_main .single_content .sg_tab .nav-pills > li.active > a {
  color: #3AC4FA;
}

.single_main .single_content .single_pro {
  border: none !important;
}

.single_main .single_content .single_pro .owl-nav {
  display: none;
}

.single_main .single_content .single_pro .owl-dots {
  display: none;
}

.single_main .single_content .single_pro .title_carousle h2 {
  text-decoration: none;
  font-size: 23px;
  margin: 10px 0 30px;
  transition: all 0.3s;
  color: #333333;
}

article table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
}

article table {
  display: block;
  width: 100%;
  overflow-x: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

article table tbody tr:nth-child(odd) {
  background: #ccc;
}

article table tbody tr:nth-child(even) {
  background: #fff;
}

article table tr {
  border: 1px solid #e1e1e1;
}

article table tr td {
  border: 1px solid #e1e1e1;
  padding: 10px 5px 10px 10px;
}

article table tr th {
  border: 1px solid #e1e1e1;
  padding: 10px 5px;
  text-align: center;
}

/* responsive */
/* 1199 991 767 480 414 375 360 320 max-width */
@media screen and (max-width: 1199px) {
  .price_sale {
    display: none;
  }
}

@media screen and (max-width: 991px) {
  .nav.navbar-nav {
    display: none;
  }
  .hd_menu .logo {
    max-width: 100px;
    display: inline-block;
  }
  .hd_menu .logo img {
    max-width: 130px !important;
    height: 50px !important;
  }
  .pd_center {
    width: 100%;
    display: block;
    text-align: center;
  }
  .about_area .news_about .about_pro {
    padding: 0px;
  }
  .about_area .pd_left {
    padding-left: 15px;
    margin-top: 10px;
  }
  .about_slide p {
    padding: 15px 15px 53px;
  }
  .about_slide .owl-prev {
    bottom: 20% !important;
    right: 18%;
  }
  .about_slide .owl-next {
    bottom: 20% !important;
  }
  .about_slide .ab_content .ab_title {
    padding-left: 7px;
  }
  .about_slide .ab_content .ab_thumb img {
    max-width: 57px;
    height: 55px;
  }
  .pb_bt {
    margin-bottom: 45px;
  }
  .hotel_facilities {
    background-size: cover;
    background-position: center center;
  }
  .price_sale {
    display: block;
    float: right;
  }
}

@media screen and (max-width: 767px) {
  .hotel_facilities .hotel_tab .nav > li > a {
    padding: 5px 10px;
    height: 90px;
  }
  .hotel_facilities .hotel_tab ul li a {
    font-size: 12px;
  }
  .hotel_facilities .hotel_tab .tab-content .tab_pro .pro_text h3 {
    margin-bottom: 20px;
    margin-top: 15px;
  }
  .about_area .pd_left {
    margin-top: 0px;
  }
  .about_area .about_title {
    margin-bottom: 30px;
    margin-top: 30px;
  }
  .title_right {
    text-align: center !important;
  }
  .title_left {
    text-align: center !important;
  }
  .about_slide .owl-prev {
    bottom: 32% !important;
    right: 10%;
  }
  .about_slide .owl-next {
    bottom: 32% !important;
  }
  .hotel_facilities .hotel_tab .tab-content {
    padding: 25px;
  }
  .hotel_facilities .hotel_tab ul li a {
    font-size: 11px;
  }
  .detail_main .detail_pro .detail_content h3 {
    margin: 20px 0 15px;
  }
  .category aside {
    padding-top: 110px;
  }
}

@media screen and (max-width: 480px) {
  .pd_w {
    width: 100%;
  }
}

@media screen and (max-width: 414px) {
  .hotel_facilities .hotel_tab .nav > li > a {
    padding: 5px 5px;
  }
}
/*# sourceMappingURL=style.css.map */