@font-face {
    font-family: opensans;
    src: url('../fonts/opensans-light-webfont.woff2');
}

@font-face {
    font-family: opensans-bold;
    src: url('../fonts/opensans-semibold-webfont.woff2');
}

@font-face {
    font-family: fontello;
    src: url('../fonts/fontello.woff2');
}

@font-face {
    font-family: fontello;
    src: url('../fonts/fontello.woff2');
}

@font-face {
    font-family: roboto;
    src: url('../fonts/roboto-light-webfont.woff2');
}

@font-face {
    font-family: roboto-bold;
    src: url('../fonts/roboto-black-webfont.woff2');
}

$color-y: #ddb321;
$color-text: #000;
body {
    font-size: 1.4rem;
    font-family: opensans;
    position: relative;
}

html {
    font-size: 10px;
}

.header-main {
    background-color: rgba(0, 0, 0, .8);
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: table;
    z-index: 9999;
    .logo {
        width: 100px;
        height: 100px;
        float: left;
        position: relative;
        a {
            display: block;
            width: 6rem;
            height: 6.7rem;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }
    }
    .bar-mobile {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        width: 40px;
        padding: 0.5rem 0.7rem;
        box-shadow: none;
        outline: none;
        background-color: transparent;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 0;
        cursor: pointer;
        .icon-bar {
            background-color: white;
            display: block;
            width: 2.4rem;
            height: 0.3rem;
            border-radius: 0;
            margin: 0.4rem 0;
            transition: all 0.25s;
        }
    }
    .change {
        .bar1 {
            -webkit-transform: rotate(-45deg) translate(-5px, 6px);
            transform: rotate(-45deg) translate(-5px, 6px);
            transition: all 0.25s;
        }
        .bar2 {
            opacity: 0;
        }
        .bar3 {
            -webkit-transform: rotate(45deg) translate(-4px, -5px);
            transform: rotate(45deg) translate(-4px, -5px);
            transition: all 0.25s;
        }
    }
    .sidenav {
        height: 100%;
        width: 100%;
        position: fixed;
        // overflow-y: scroll;
        z-index: 9999 !important;
        top: 100px;
        right: 0;
        padding: 0 10px;
        background-color: rgba(32, 32, 32, .95);
        overflow-x: hidden;
        transition: all 0.5s;
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
        transform: translateX(100%);
        ul {
            margin: 0;
            padding: 0;
            li {
                list-style: none;
                background-color: transparent;
                position: relative;
                a {
                    font-family: roboto;
                    font-size: 1.4rem;
                    color: white;
                    text-decoration: none;
                    text-transform: uppercase;
                    line-height: 2rem;
                    padding: 10px 15px;
                    border-bottom: 1px solid #4b4a4a;
                    display: block;
                    transition: all 0.3s;
                }
                .sub_item {
                    li {
                        padding-left: 40px;
                        a {
                            font-family: roboto;
                            text-transform: uppercase;
                            border-bottom: 1px solid #4b4a4a;
                        }
                        .sub_item_1 {
                            max-height: 0;
                            overflow: hidden;
                            transition: max-height 0.2s ease-out;
                            li {
                                a {
                                    font-size: 12px;
                                }
                            }
                        }
                        &:last-child {
                            a {
                                border-bottom: none;
                            }
                        }
                    }
                }
                .accordion {
                    position: absolute;
                    right: 0;
                    top: 0;
                    font-size: 1.8rem;
                    line-height: 2rem;
                    color: white;
                    cursor: pointer;
                    border: none;
                    text-align: left;
                    outline: none;
                    display: block;
                    margin: 0;
                    background-color: transparent;
                    padding: 1rem 1rem;
                    width: 4%;
                    transition: 0.4s;
                    z-index: 8;
                }
                .accordion:after {
                    content: '\e821';
                    font-family: 'fontello';
                    color: white;
                    font-weight: bold;
                    float: right;
                    margin-left: 5px;
                }
                .accordion.active:after {
                    content: '\e81e';
                    color: #ddb321;
                }
                .sub_item {
                    max-height: 0;
                    overflow: hidden;
                    transition: max-height 0.2s ease-out;
                }
                &:last-child {
                    border-bottom: none;
                    &:hover {
                        background-color: transparent;
                    }
                }
            }
        }
    }
    .nav-desktop {
        height: 100px;
        width: calc(100% - 100px);
        position: relative;
        display: table;
        nav {
            width: 100%;
            height: 100%;
            position: relative;
            display: table-cell;
            vertical-align: middle;
            ul {
                width: 100%;
                margin: 0;
                padding: 0;
                list-style: none;
                display: inline-flex;
                position: relative;
                li {
                    .nav-link {
                        font-family: Roboto;
                        color: white;
                        text-transform: uppercase;
                        font-size: 1.6rem;
                        text-decoration: none;
                        padding: .5rem;
                        font-weight: 300;
                        position: relative;
                        display: inline-block;
                        border-bottom: solid $color-y;
                        border-width: 0;
                        transition: all 0.25s;
                        &::before {
                            content: '';
                            width: 0;
                            height: 1px;
                            background-color: $color-y;
                            position: absolute;
                            bottom: 0;
                            left: 50%;
                            transform: translateX(-50%);
                            transition: all 0.2s;
                        }
                    }
                    .wrap-1 {
                        position: absolute;
                        top: 100%;
                        left: 0;
                        width: 33.33%;
                        .sub-1 {
                            margin: 0;
                            padding: 0;
                            padding-top: 33px;
                            list-style: none;
                            display: block;
                            display: none;
                            position: relative;
                            li {
                                // position: relative;
                                a {
                                    color: white;
                                    font-size: 1.4rem;
                                    font-family: opensans;
                                    text-decoration: none;
                                    padding: 1.5rem .3rem;
                                    width: 100%;
                                    position: relative;
                                    display: inline-block;
                                    .angle-left {
                                        &::before {
                                            position: absolute;
                                            right: 0;
                                            top: 50%;
                                            transform: translateY(-50%);
                                            content: '\e805';
                                            font-family: "fontello";
                                            font-style: normal;
                                            font-weight: 400;
                                            speak: none;
                                            display: inline-block;
                                            text-decoration: inherit;
                                            width: 1em;
                                            margin-right: .2em;
                                            text-align: center;
                                            font-variant: normal;
                                            text-transform: none;
                                            line-height: 1em;
                                            margin-left: .2em;
                                        }
                                    }
                                    &::before {
                                        content: '';
                                        position: absolute;
                                        bottom: 0;
                                        left: 0;
                                        height: 1px;
                                        width: 100%;
                                        background-color: #323232;
                                        transition: all 0.25s;
                                        z-index: 1;
                                    }
                                    &::after {
                                        content: '';
                                        position: absolute;
                                        bottom: 0;
                                        left: 0;
                                        height: 1px;
                                        width: 0%;
                                        background-color: $color-y;
                                        transition: all 0.4s;
                                        z-index: 2;
                                    }
                                }
                                .sub-2 {
                                    display: block;
                                    visibility: hidden;
                                    position: absolute;
                                    top: 0;
                                    left: 100%;
                                    width: 100%;
                                    margin: 0;
                                    padding: 0;
                                    padding-top: 33px;
                                    li {
                                        a {
                                            &:hover {
                                                &::after {
                                                    width: 100%;
                                                    transition: all 0.4s;
                                                }
                                            }
                                        }
                                    }
                                }
                                &:hover {
                                    .sub-2 {
                                        visibility: visible;
                                    }
                                    .i-sub-1 {
                                        &::after {
                                            width: 100%;
                                            transition: all 0.4s;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    &:hover {
                        .sub-1 {
                            display: block;
                        }
                        a {
                            &::before {
                                width: 100%;
                                transition: all 0.2s;
                            }
                        }
                    }
                }
            }
        }
    }
    .search-wrap {
        position: absolute;
        top: 0;
        right: 45px;
        display: table;
        height: 100px;
        .btn-search {
            margin: 30px 0;
            padding: 0;
            background-color: transparent;
            color: white;
            font-size: 25px;
            box-shadow: none;
            outline: none;
            .icon-search {
                &::before {
                    content: '\e80e';
                    font-family: "fontello";
                    font-style: normal;
                    font-weight: 400;
                    speak: none;
                    display: inline-block;
                    text-decoration: inherit;
                    width: 1em;
                    margin-right: .2em;
                    text-align: center;
                    font-variant: normal;
                    text-transform: none;
                    line-height: 1em;
                    margin-left: .2em;
                }
            }
        }
        .modal {
            .modal-dialog {
                max-width: 650px;
                margin: 18rem auto;
                .modal-content {
                    border-radius: 0;
                    .modal-header {
                        border-bottom: none;
                        .close {
                            outline: none;
                            box-shadow: none;
                            .icon-close {
                                &::before {
                                    content: '\e81f';
                                    font-family: "fontello";
                                    font-style: normal;
                                    font-weight: 400;
                                    speak: none;
                                    display: inline-block;
                                    text-decoration: inherit;
                                    width: 1.5em;
                                    margin-right: .2em;
                                    text-align: center;
                                    font-variant: normal;
                                    text-transform: none;
                                    line-height: 1em;
                                    margin-left: .2em;
                                    -webkit-font-smoothing: antialiased;
                                    -moz-osx-font-smoothing: grayscale;
                                }
                            }
                        }
                    }
                    .modal-body {
                        padding-bottom: 50px;
                        text-align: center;
                        h4 {
                            margin-bottom: 10px;
                            font-size: 15px;
                            text-transform: uppercase;
                            color: #242424;
                        }
                        form {
                            .form-group {
                                .form-control {
                                    height: 40px;
                                    outline: none;
                                    box-shadow: none;
                                    border-radius: 0;
                                    border: none;
                                    font-size: 15px;
                                    &:focus {
                                        border-bottom: solid 1px #ddb321;
                                    }
                                    &::placeholder {
                                        font-size: 15px;
                                        font-style: italic;
                                        color: #ddb321;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}