$color_white:white;
$color_black:black;
$color_border:#ebebeb;
// box-shadow: 0px 0px 11px 0px rgba(225,225,225,0.75);
$color_menu:#f16b6f;
$color_hover:#dc4f54;
$color_body:#363636;
body {
    font-size: 14px;
    color: $color_body;
    line-height: 1.5;
    background: $color_white;
}

.date {
    font-size: 13px;
    line-height: 20px;
    color: #acacac;
    &::before {
        content: "\f017";
        font-family: FontAwesome;
        margin-left: 20px;
        margin-right: 6px;
    }
}

.user {
    font-size: 13px;
    line-height: 20px;
    color: #acacac;
    &::before {
        content: "\f2be";
        font-family: FontAwesome;
        margin-right: 6px;
    }
}

.breadcrumbs {
    padding-bottom: 20px;
    border-bottom: 1px solid $color_border;
    ul {
        padding: 0;
        margin: 0;
        li {
            list-style: none;
            display: inline-block;
            color: $color_body;
            font-size: 15px;
            a {
                color: $color_body;
                transition: all 0.3s;
                font-size: 15px;
                &::after {
                    content: "\f105";
                    font-family: FontAwesome;
                    padding-left: 5px;
                }
                &:hover {
                    color: $color_menu;
                    transition: all 0.3s;
                }
            }
        }
    }
}

.fb {
    width: 100%;
    overflow: hidden;
}

.menu_mobile {
    position: absolute;
    left: 15px;
    top: 5px;
    font-size: 22px;
    cursor: pointer;
    &:hover {
        color: $color_menu;
        transition: all 0.3s;
    }
}

.cart_mobile {
    position: absolute;
    right: 25px;
    top: 5px;
    font-size: 20px;
    .position_cart {
        position: relative;
        a {
            color: $color_body;
            .cartcount {
                position: absolute;
                width: 25px;
                height: 25px;
                color: $color_white;
                background: $color_menu;
                border-radius: 50%;
                text-align: center;
                line-height: 25px;
                font-size: 17px;
                top: -10px;
                right: -15px;
            }
        }
    }
}

#menu-mobile {
    background: #f6f6f6;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 300px;
    height: 100%;
    -webkit-transform: translateX(-300px);
    -moz-transform: translateX(-300px);
    -ms-transform: translateX(-300px);
    -o-transform: translateX(-300px);
    transform: translateX(-300px);
    transition: all 0.4s;
    overflow: auto;
    .nav_mobile {
        padding: 20px 15px;
        h2 {
            color: #333;
            font-weight: 700;
            font-size: 24px;
            margin: 0;
            margin-bottom: 10px;
            position: relative;
            img {
                max-height: 50px;
            }
            i {
                font-size: 20px;
                font-weight: 400;
                position: absolute;
                right: 0;
                color: $color_menu;
            }
        }
        .search-mb {
            border: 1px solid #e9e9e9;
            padding: 20px 0;
            border-right: none;
            border-left: none;
            form {
                position: relative;
                .search {
                    border: 1px solid #e9e9e9;
                    width: 100%;
                    padding: 7px 10px;
                }
                .submit {
                    position: absolute;
                    top: 0;
                    right: 0;
                    background: $color_menu;
                    padding: 8px 10px;
                    border: none;
                    color: $color_white;
                }
            }
        }
        ul {
            list-style: none;
            padding: 0;
            overflow: auto;
            li {
                clear: both;
                border-top: 1px solid #e9e9e9;
                position: relative;
                &:first-child {
                    border: none;
                }
                a {
                    color: $color_black;
                    padding: 10px 0;
                    display: inline-block;
                    &:hover {
                        opacity: 0.8;
                    }
                }
                .sub-menu {
                    padding: 0;
                    max-height: 0;
                    transition: all 0.5s;
                    overflow: hidden;
                    li {
                        &:first-child {
                            border-top: 1px solid #e9e9e9;
                        }
                        a {
                            padding-left: 20px;
                            display: inline-block;
                        }
                    }
                    .sub-menu {
                        max-height: 0;
                        overflow: hidden;
                        a {
                            padding-left: 40px;
                        }
                    }
                }
            }
            .active {
                a {
                    font-weight: 700;
                }
            }
        }
        .user-nav-mb {
            padding-bottom: 30px;
            span {
                width: 50%;
                float: left;
                i {
                    margin-right: 10px;
                    color: $color_menu;
                }
                a {
                    color: $color_black;
                }
            }
        }
    }
    .accordion {
        color: $color_menu;
        cursor: pointer;
        width: 10%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        transition: all 0.4s;
        position: absolute;
        top: 0;
        right: 0;
        padding: 8px 0;
        background: none;
    }
    .accordion:after {
        content: "\f067";
        font-family: fontAwesome;
        color: $color_menu;
        font-weight: bold;
        margin-left: 5px;
    }
    .accordion.active:after {
        content: "\f068";
        font-family: FontAwesome;
    }
}

header {
    .hd_top {
        background: url("../images/bg_top.jpg") no-repeat;
        box-shadow: 0px 3px 15px 0px rgba(225, 225, 225, 0.77);
        padding: 25px 0 65px;
        .logo {
            max-width: 250px;
            img {
                max-width: 250px;
            }
        }
        .hd_form {
            padding-top: 15px;
            .form-group {
                position: relative;
                .form-control {
                    border-radius: 3px;
                    font-style: italic;
                    border-color: $color_border;
                    box-shadow: none;
                    padding-left: 20px;
                    height: 45px;
                }
                .btn.btn-primary {
                    position: absolute;
                    right: 0;
                    top: 0;
                    height: 45px;
                    border: 0px;
                    background: none;
                    box-shadow: none;
                    color: $color_menu;
                    text-shadow: none;
                    padding: 0px 20px;
                    font-size: 18px;
                    &::before {
                        content: "";
                        display: inline-block;
                        height: 30px;
                        width: 1px;
                        background: $color_border;
                        position: absolute;
                        right: 60px;
                        top: 8px;
                    }
                }
            }
        }
        .hd_right {
            .user {
                padding-top: 30px;
                .fa-angle-down {
                    margin-left: 3px;
                }
                a {
                    color: $color_body;
                    transition: all 0.3s;
                    &:hover {
                        color: $color_menu;
                        transition: all 0.3s;
                    }
                }
                .dropdown-menu {
                    text-transform: uppercase;
                    border-radius: 0px;
                    padding: 0px;
                    left: auto;
                    right: 0;
                    margin-top: 8px;
                    li {
                        a {
                            padding: 7px 20px;
                            color: $color_body;
                            transition: all 0.3s;
                            &:hover {
                                color: $color_menu;
                                transition: all 0.3s;
                                background: $color_border;
                            }
                        }
                    }
                }
            }
            .cart_lg {
                font-family: 'Roboto', sans-serif;
                padding-top: 20px;
                position: relative;
                &:hover {
                    .cr_text {
                        h3 {
                            a {
                                color: $color_menu;
                                transition: all 0.3s;
                            }
                        }
                    }
                    .cr_cart_show {
                        visibility: visible;
                        opacity: 1;
                        transition: all 0.4s;
                    }
                }
                .cr_icon {
                    float: left;
                    position: relative;
                    .cartcount {
                        position: absolute;
                        width: 25px;
                        height: 25px;
                        color: $color_white;
                        background: $color_menu;
                        border-radius: 50%;
                        text-align: center;
                        line-height: 25px;
                        font-size: 17px;
                        top: -10px;
                        right: -12px;
                    }
                }
                .cr_text {
                    float: left;
                    padding-left: 15px;
                    h3 {
                        margin: 0 0 3px;
                        a {
                            font-size: 14px;
                            color: $color_body;
                            text-decoration: none;
                            text-transform: uppercase;
                            font-weight: 900;
                            display: block;
                            transition: all 0.3s;
                        }
                    }
                    p {
                        span {
                            color: $color_menu;
                        }
                    }
                }
                .cr_cart_show {
                    position: absolute;
                    width: 350px;
                    right: 11%;
                    top: 68px;
                    box-shadow: 0px 0px 11px 0px rgba(225, 225, 225, 0.75);
                    background: $color_white;
                    padding: 15px 20px;
                    margin: 0px;
                    max-height: 360px;
                    overflow-y: auto;
                    visibility: hidden;
                    opacity: 0;
                    transition: all 0.4s;
                    z-index: 90;
                }
            }
        }
    }
    .hd_menu {
        font-family: 'Roboto', sans-serif;
        margin-top: -30px;
        a {
            text-decoration: none !important;
        }
        .has_mega {
            position: static !important;
            &:hover {
                .menu_mega {
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
        .menu_mega {
            position: absolute;
            background: $color_white;
            top: 100%;
            margin-top: 1px;
            left: 0;
            width: 100%;
            box-shadow: 0px 0px 11px 0px rgba(225, 225, 225, 0.75);
            padding: 20px;
            z-index: 99;
            visibility: hidden;
            opacity: 0;
            z-index: 999999;
            transition: all 0.3s;
            &::before {
                content: '';
                width: 12px;
                height: 12px;
                background: $color_white;
                position: absolute;
                z-index: 9999;
                left: 26.5%;
                top: -7px;
                -webkit-transform: rotate(50deg);
                transform: rotate(45deg);
            }
            a {
                border: 0px !important;
                color: $color_body !important;
                background: none !important;
                padding: 0 !important;
                &:hover {
                    border: 0px !important;
                    background: none !important;
                }
            }
            .sub_menu_img {
                width: 40%;
                float: left;
                padding: 0 5px;
            }
            .sub_menu {
                width: 20%;
                padding: 0 5px;
                float: left;
                ul {
                    padding: 0;
                    li {
                        list-style: none;
                        line-height: 28px;
                        a {
                            text-transform: lowercase !important;
                            transition: all 0.3s;
                            display: block;
                            &:hover {
                                color: $color_menu !important;
                            }
                        }
                    }
                }
                .sub_title {
                    h3 {
                        margin: 0;
                        a {
                            display: inline-block;
                            color: #333;
                            font-size: 14px;
                            font-weight: 700;
                            &:hover {
                                color: $color_menu !important;
                            }
                        }
                    }
                }
            }
        }
        .navbar-default {
            box-shadow: none;
            position: relative;
            .hd_phone {
                background-color: #362947;
                position: absolute;
                right: 30px;
                top: -10px;
                padding: 10px 20px;
                height: 68px;
                &::before {
                    content: "";
                    border: 7px solid transparent;
                    border-left: 8px solid #362947;
                    position: absolute;
                    left: -7px;
                    -ms-transform: rotate(45deg);
                    -webkit-transform: rotate(45deg);
                    transform: rotate(45deg);
                    top: 3px;
                }
                a {
                    text-decoration: none;
                    color: $color_white;
                    font-family: 'Roboto', sans-serif;
                    font-size: 20px;
                    line-height: 20px;
                    font-weight: bold;
                    .menu_phone {
                        display: block;
                        color: $color_menu;
                        font-size: 16px;
                        padding-bottom: 5px;
                        font-weight: 400;
                    }
                }
            }
            .collapse.navbar-collapse {
                border-radius: 5px !important;
                padding: 0;
                background: $color_menu;
                .navbar-nav {
                    border-radius: 5px;
                    .active {
                        a {
                            background: $color_hover;
                            border-radius: 5px 0 0 5px!important;
                            border-top: 2px solid #AA0000;
                        }
                    }
                    li {
                        a {
                            text-shadow: none;
                            text-transform: uppercase;
                            color: $color_white;
                            transition: all 0.4s;
                            padding: 18px 20px;
                            border-top: 2px solid $color_menu;
                            font-size: 16px;
                            &:hover {
                                background: $color_hover;
                                transition: all 0.4s;
                                border-top: 2px solid #AA0000;
                            }
                        }
                    }
                }
            }
        }
    }
}

.home_content {
    margin-bottom: 5px;
    a {
        text-decoration: none !important;
    }
    .sidebar_home {
        box-shadow: 0px 0px 11px 0px rgba(225, 225, 225, 0.75);
        border: 1px solid $color_border;
        border-radius: 3px;
        margin-bottom: 30px;
        .sd_title {
            h2 {
                font-size: 14px;
                text-transform: uppercase;
                margin: 0;
                font-size: 15px;
                padding: 15px 20px;
                font-family: 'Open Sans', sans-serif;
                font-weight: 700;
                &::before {
                    content: "\f036";
                    font-family: FontAwesome;
                    margin-right: 8px;
                }
            }
        }
        .sd_list {
            .fa.fa-angle-right.accordion {
                position: absolute !important;
                right: 0;
                overflow: hidden;
                z-index: 9999;
                width: 43px;
                padding: 16px;
                top: 0;
                color: $color_body;
                transition: all 0.3s;
                &:hover {
                    transition: all 0.3s;
                    color: $color_white;
                    background: $color_hover;
                }
                &:focus {
                    background: red;
                }
            }
            .accordion {
                color: #444;
                cursor: pointer;
                padding: 18px;
                width: 100%;
                border: none;
                text-align: left;
                outline: none;
                font-size: 15px;
                transition: 0.4s;
            }
            .panel {
                padding: 0 18px;
                max-height: 0;
                overflow: hidden;
                transition: max-height 0.2s ease-out;
                margin: 0;
                border: 0px;
                li {
                    a {
                        border: none;
                        &::before {
                            content: "";
                            width: 0;
                            height: 0;
                            border: none;
                        }
                    }
                }
            }
            ul {
                padding: 0;
                li {
                    list-style: none;
                    position: relative;
                    &:first-child {
                        a {
                            border-top: none;
                        }
                    }
                    a {
                        line-height: 24px;
                        padding: 11.4px 0;
                        margin: 0 20px;
                        color: $color_body;
                        display: block;
                        border-top: 1px solid $color_border;
                        transition: all 0.3s;
                        position: relative;
                        &:hover {
                            color: $color_menu;
                            transition: all 0.3s;
                        }
                        &::before {
                            content: '';
                            display: inline-block;
                            width: 8px;
                            height: 8px;
                            border: 1px solid #e1e1e1;
                            border-radius: 50%;
                            margin-right: 7px;
                        }
                    }
                }
            }
        }
    }
    .slider {
        .owl-nav {
            display: none;
        }
        .owl-dots {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

.price {
    .pr_price {
        color: $color_menu;
        font-size: 16px;
        line-height: 26px;
        display: inline-block;
        margin-right: 20px;
    }
    .pr_sale {
        text-decoration: line-through;
        color: #acacac;
        font-size: 16px;
        line-height: 12px;
    }
}

.pro_title {
    margin-bottom: 12px;
    h2 {
        margin: 0;
        padding-bottom: 15px;
        position: relative;
        font-size: 18px;
        line-height: 20px;
        margin-bottom: 30px;
        border-bottom: 1px solid $color_border;
        &::before {
            content: "";
            position: absolute;
            width: 45%;
            border-bottom: 1px solid $color_menu;
            bottom: 0;
            left: 0;
        }
        a {
            color: $color_body;
            text-transform: uppercase;
            font-weight: bold;
        }
    }
}

.home_product {
    padding-bottom: 65px;
    a {
        text-decoration: none !important;
    }
    .owl-dots {
        display: none;
    }
    .product_list {
        padding: 20px;
        border: 1px solid $color_border;
        border-radius: 3px;
        position: relative;
        .owl-nav {
            position: absolute;
            top: -75px;
            right: -5px;
            .owl-prev {
                background: #fff !important;
                color: $color_body !important;
                border: 1px solid $color_border;
                width: 22px;
                height: 23px;
                line-height: 13px;
                margin: 0;
            }
            .owl-next {
                background: #fff !important;
                color: $color_body !important;
                border: 1px solid $color_border;
                width: 22px;
                height: 23px;
                line-height: 13px;
            }
        }
        .pro_carousle {
            .caro_pro {
                margin-bottom: 30px;
                padding-bottom: 20px;
                border-bottom: 1px solid $color_border;
                &:last-child {
                    border-bottom: none;
                    margin: 0;
                    padding: 0;
                }
                .caro_thumb {
                    width: 33.333%;
                    display: table-cell;
                    vertical-align: top;
                    img {
                        max-width: 150px;
                    }
                }
                .caro_text {
                    display: table-cell;
                    vertical-align: top;
                    padding-left: 10px;
                    .pro_title {
                        h3 {
                            margin: 0 0 7px;
                            height: 40px;
                            overflow: hidden;
                            a {
                                font-size: 14px;
                                color: $color_body;
                                display: block;
                                line-height: 20px;
                                transition: all 0.3s;
                                &:hover {
                                    color: $color_menu;
                                    transition: all 0.3s;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .feature {
        margin: 30px 0;
        font-family: 'Roboto', sans-serif;
        ul {
            padding: 0;
            border: 1px solid $color_border;
            border-radius: 5px;
            background-color: $color_white;
            li {
                list-style: none;
                padding: 20px;
                border-bottom: 1px solid $color_border;
                &:last-child {
                    border-bottom: none;
                }
                .fea_img {
                    display: table-cell;
                    vertical-align: top;
                    width: 26.333%;
                    img {
                        max-width: 100%;
                    }
                }
                .fea_text {
                    display: table-cell;
                    vertical-align: top;
                    padding-left: 15px;
                    h4 {
                        font-size: 13px;
                        line-height: 20px;
                        color: $color_menu;
                        font-weight: bold;
                        text-transform: uppercase;
                        margin: 4px 0 2px;
                    }
                    p {
                        font-size: 14px;
                        line-height: 20px;
                    }
                }
            }
        }
    }
    .pro_infomation {
        font-family: 'Roboto', sans-serif;
        .list_blogs {
            margin-bottom: 30px;
            .blog_item {
                img {
                    width: 100%;
                    margin-bottom: 20px;
                }
                h4 {
                    a {
                        font-size: 16px;
                        line-height: 22px;
                        font-weight: 500;
                        transition: all 0.3s;
                        color: $color_body;
                        &:hover {
                            color: $color_menu;
                            transition: all 0.3s;
                        }
                    }
                }
                p {
                    font-size: 14px;
                    color: #acacac;
                    line-height: 20px;
                    height: 80px;
                    overflow: hidden;
                }
            }
            ul {
                padding: 0;
                font-family: 'Roboto', sans-serif;
                li {
                    list-style: none;
                    padding: 10px 0px;
                    border-bottom: 1px #ebebeb solid;
                    &:last-child {
                        border-bottom: none;
                    }
                    a {
                        color: $color_body;
                        transition: all 0.3s;
                        font-weight: 500;
                        margin-bottom: 10px;
                        display: inline-block;
                        &::before {
                            content: "\f0da";
                            font-family: FontAwesome;
                            padding-right: 12px;
                        }
                        &:hover {
                            color: $color_hover;
                            transition: all 0.3s;
                        }
                    }
                }
            }
        }
    }
    .pro_faceboook {
        h4 {
            font-size: 18px;
            font-weight: bold;
            color: #252525;
            font-family: 'Roboto', sans-serif;
            margin-bottom: 20px;
        }
    }
    .product_caruusle {
        border: 0px;
        padding: 0px;
        .pro_title {
            h2 {
                &::before {
                    width: 24%;
                }
            }
        }
        .pro_content {
            text-align: center;
            margin-bottom: 30px;
            .item {
                &:hover {
                    .pro_thumb {
                        .pro_form {
                            .bt_cart {
                                transform: translate(0);
                                transition: all 0.3s;
                            }
                            .bt_link {
                                transform: translate(0);
                                transition: all 0.3s;
                            }
                        }
                    }
                }
                .pro_thumb {
                    position: relative;
                    margin-bottom: 15px;
                    overflow: hidden;
                    .pro_sale {
                        position: absolute;
                        top: 0;
                        right: 0;
                        span {
                            text-align: center;
                            color: $color_white;
                            background: $color_menu;
                            display: block;
                            border-radius: 50%;
                            font-size: 14px;
                            width: 42px;
                            height: 42px;
                            line-height: 40px;
                            top: 10px;
                            right: 10px;
                        }
                    }
                    .pro_form {
                        position: absolute;
                        top: 40%;
                        left: 50%;
                        transform: translate(-50%);
                        .bt_cart {
                            display: block;
                            background: $color_menu !important;
                            color: $color_white !important;
                            min-width: 120px;
                            border: 0px;
                            border-radius: 50px;
                            margin-bottom: 5px;
                            transform: translate(300px);
                            transition: all 0.3s;
                        }
                        .bt_link {
                            display: block;
                            min-width: 120px;
                            background: $color_border;
                            color: $color_body;
                            transition: all 0.3s;
                            border: 0px;
                            text-shadow: none;
                            border-radius: 50px;
                            transform: translate(-300px);
                            transition: all 0.3s;
                            &:hover {
                                transition: all 0.3s;
                                color: $color_white;
                                background: $color_menu;
                            }
                        }
                    }
                }
                .pro_text {
                    h3 {
                        font-size: 14px;
                        line-height: 20px;
                        padding: 0px 10px;
                        margin: 0;
                        a {
                            color: $color_body;
                            transition: all 0.3s;
                            &:hover {
                                color: $color_menu;
                                transition: all 0.3s;
                            }
                        }
                    }
                }
            }
            .pro_info {
                overflow: hidden;
                .info_thumb {
                    width: 30%;
                    display: table-cell;
                    vertical-align: top;
                    text-align: center;
                    min-width: 80px;
                    min-height: 80px;
                    float: left;
                    margin-right: 20px;
                    margin-bottom: 30px;
                    img {
                        width: 100%;
                    }
                }
                .info_content {
                    display: table-cell;
                    vertical-align: top;
                    text-align: left;
                    h3 {
                        margin: 0 0 10px;
                        a {
                            color: $color_body;
                            font-size: 14px;
                            transition: all 0.3s;
                            &:hover {
                                color: $color_menu;
                                transition: all 0.3s;
                            }
                        }
                    }
                    p {
                        font-size: 14px;
                        color: #acacac;
                        line-height: 22px;
                        margin-top: 5px;
                        height: 44px;
                        overflow: hidden;
                    }
                }
            }
        }
    }
    .pro_banner {
        margin-bottom: 25px;
    }
}

footer {
    background: #fafafa;
    padding: 25px 0;
    a {
        text-decoration: none !important;
    }
    .mailchimp {
        padding-left: 55px;
    }
    .ft_logo {
        .logo {
            text-align: center;
            img {
                max-width: 250px;
                display: inline-block;
            }
        }
        p {
            font-family: Roboto;
            font-size: 13px;
            margin: 20px 0px;
        }
        ul {
            padding: 0;
            li {
                list-style: none;
                transition: all 0.3s;
                margin-bottom: 10px;
                &:hover {
                    color: $color_menu;
                    transition: all 0.3s;
                }
                span {
                    .icon_ft {
                        width: 30px;
                        height: 30px;
                        text-align: center;
                        background: $color_menu;
                        line-height: 30px;
                        color: $color_white;
                        border-radius: 50%;
                        margin-right: 5px;
                    }
                }
                a {
                    color: $color_body;
                    transition: all 0.3s;
                    &:hover {
                        color: $color_menu;
                        transition: all 0.3s;
                    }
                }
            }
        }
    }
    .ft_form {
        border-bottom: 1px solid #ebebeb;
        padding-bottom: 25px;
        overflow: hidden;
        label {
            line-height: 44px;
            float: left;
            font-size: 14px;
            font-weight: 700;
            font-family: Open Sans, sans-serif;
            text-transform: uppercase;
            margin-bottom: 0;
        }
        .form-group {
            position: relative;
            .btn.btn-primary {
                position: absolute;
                right: 0;
                top: 0;
                height: 44px;
                border-radius: 3px;
                padding: 0 20px;
                font-size: 13px;
                background: $color_menu;
                border: 0px;
                text-transform: uppercase;
                font-size: 14px;
                color: $color_white;
                font-weight: 500;
                font-family: 'Roboto', sans-serif;
            }
            .form-control {
                box-shadow: none;
                outline: none;
                width: 76%;
                float: right;
                height: 44px;
                border: 1px solid #ebebeb;
                border-radius: 3px;
                padding: 0 20px;
                font-size: 13px;
                font-style: italic;
            }
        }
    }
    .ft_content {
        margin: 25px 0px 0;
        h3 {
            position: relative;
            font-family: Open Sans, sans-serif;
            font-weight: 700;
            font-size: 14px;
            text-transform: uppercase;
            padding-bottom: 10px;
            margin: 0 0 15px;
            &::before {
                content: "";
                border-bottom: 1px solid $color_menu;
                position: absolute;
                bottom: 0;
                left: 0;
                width: 50px;
            }
        }
        ul {
            padding: 0;
            margin: 0;
            li {
                list-style: none;
                margin-bottom: 15px;
                a {
                    color: #707070;
                    font-size: 13px;
                    transition: all 0.2s;
                    &:hover {
                        color: $color_menu;
                        transition: all 0.2s;
                    }
                }
            }
        }
    }
}

.copy_right {
    background-color: #362947;
    padding: 12px 0px;
    color: $color_white;
    font-size: 13px;
    p {
        margin: 0;
        a {
            color: $color_menu;
            font-size: 13px;
        }
    }
    ul {
        padding: 0;
        margin: 0;
        li {
            list-style: none;
            display: inline-block;
            padding-right: 10px;
            a {
                text-decoration: none;
                color: $color_white;
                &:hover {
                    color: $color_menu;
                }
            }
        }
    }
}

//css category
.category {
    .cate_title {
        margin: 25px 0 10px;
        h2 {
            font-size: 18px;
            font-weight: bold;
            line-height: 20px;
            text-transform: uppercase;
            margin: 0;
        }
    }
    .cate_number {
        padding: 13px 20px;
        background-color: #f3f3f3;
        border-radius: 5px;
        margin-bottom: 30px;
        .pro_main {
            button {
                cursor: pointer;
                border: 1px $color_border solid;
                color: $color_body;
                border: 0px;
                padding: 5px 7px 5px 0px;
                i {
                    font-size: 22px;
                    vertical-align: middle;
                    padding-right: 3px;
                }
            }
            .active {
                background: none;
                color: $color_menu;
            }
        }
        .sapxep {
            float: right;
            label {
                display: inline;
                margin-right: 10px;
                padding: 5px 0;
                font-size: 12px;
                font-weight: normal;
            }
            form {
                display: inline;
                select {
                    width: 240px;
                    border-radius: 0px;
                    border: 0px;
                    margin-left: 10px;
                    font-size: 16px;
                    height: 32px;
                    padding-left: 5px;
                }
            }
        }
    }
    .cate_product {
        .cate_pro {
            text-align: center;
            padding-bottom: 15px;
            overflow: hidden;
            &:hover {
                .pro_thumb {
                    .pro_form {
                        .bt_cart {
                            transform: translate(0);
                            transition: all 0.3s;
                        }
                        .bt_link {
                            transform: translate(0);
                            transition: all 0.3s;
                        }
                    }
                }
            }
            .pro_thumb {
                position: relative;
                margin-bottom: 15px;
                overflow: hidden;
                .pro_sale {
                    position: absolute;
                    top: 0;
                    right: 0;
                    span {
                        text-align: center;
                        color: $color_white;
                        background: $color_menu;
                        display: block;
                        border-radius: 50%;
                        font-size: 14px;
                        width: 42px;
                        height: 42px;
                        line-height: 40px;
                        top: 10px;
                        right: 10px;
                    }
                }
                .pro_form {
                    position: absolute;
                    top: 40%;
                    left: 50%;
                    transform: translate(-50%);
                    .bt_cart {
                        display: block;
                        background: $color_menu !important;
                        color: $color_white !important;
                        min-width: 120px;
                        border: 0px;
                        border-radius: 50px;
                        margin-bottom: 5px;
                        transform: translate(300px);
                        transition: all 0.3s;
                    }
                    .bt_link {
                        display: block;
                        min-width: 120px;
                        background: $color_border;
                        color: $color_body;
                        transition: all 0.3s;
                        border: 0px;
                        text-shadow: none;
                        border-radius: 50px;
                        transform: translate(-300px);
                        transition: all 0.3s;
                        &:hover {
                            transition: all 0.3s;
                            color: $color_white;
                            background: $color_menu;
                        }
                    }
                }
            }
            .pro_text {
                h3 {
                    font-size: 14px;
                    line-height: 20px;
                    padding: 0px 10px;
                    margin: 0;
                    a {
                        color: $color_body;
                        transition: all 0.3s;
                        &:hover {
                            color: $color_menu;
                            transition: all 0.3s;
                        }
                    }
                }
            }
        }
    }
    .list {
        padding: 30px;
        .list_width {
            width: 100%;
        }
        .pro_form {
            display: none;
        }
        .pro_form_list {
            .bt_cart {
                float: left;
                background: $color_menu !important;
                color: $color_white !important;
                min-width: 120px;
                border: 0px;
                border-radius: 50px;
                margin-bottom: 5px;
                margin-right: 10px;
            }
            .bt_link {
                float: left;
                min-width: 120px;
                background: $color_border;
                color: $color_body;
                transition: all 0.3s;
                border: 0px;
                text-shadow: none;
                border-radius: 50px;
                transition: all 0.3s;
                &:hover {
                    transition: all 0.3s;
                    color: $color_white;
                    background: $color_menu;
                }
            }
        }
        .pro_thumb {
            width: 33.33%;
            float: left;
            img {
                width: 100%;
            }
        }
        .pro_text {
            text-align: left;
            display: table-cell;
            padding-left: 15px;
            width: 66%;
            h3 {
                padding: 0 !important;
                a {
                    font-size: 24px !important;
                    line-height: 20px !important;
                }
            }
            p {
                font-size: 14px;
                line-height: 24px;
                color: #636363;
                margin: 15px 0px;
                margin-bottom: 30px;
            }
        }
    }
}

.phantrang {
    text-align: right;
    margin: 40px 0;
    .pagination>li>a,
    .pagination>li>span {
        border-radius: 50% !important;
        margin: 0 5px;
        color: $color_body;
    }
    .pagination>.active>a,
    .pagination>.active>a:focus,
    .pagination>.active>a:hover,
    .pagination>.active>span,
    .pagination>.active>span:focus,
    .pagination>.active>span:hover {
        background-color: $color_menu;
        border-color: $color_menu;
        color: $color_white;
    }
}

//css single
.single {
    padding: 30px 0;
    .sg_slide {
        margin-top: 10px;
    }
    .single_content {
        .sg_title {
            h1 {
                font-size: 24px;
                margin-top: 0;
                color: $color_body;
                font-weight: 400;
                line-height: auto;
                font-family: Arial, Helvetica, sans-serif;
                margin: 0px 0px 10px;
            }
        }
        .sg_product {
            .thumb_main {
                img {
                    width: 100%;
                    cursor: pointer;
                }
                .owl-nav {
                    display: none;
                }
                .owl-dots {
                    display: none;
                }
            }
            .content_main {
                .border_bottom_details {
                    width: 100%;
                    padding: 2px 0px;
                    border: dashed 1px #ddd;
                    display: block;
                    margin: 40px 0px 25px;
                    border-right: 0px;
                    border-left: 0px;
                }
                .store_hang {
                    display: block;
                    ul {
                        padding: 0;
                        margin: 0;
                        border-bottom: 1px solid $color_border;
                        margin-bottom: 20px;
                        li {
                            list-style: none;
                            display: inline-block;
                            font-size: 14px;
                            margin-right: 15px;
                        }
                    }
                }
                .sg_price {
                    .special_price {
                        font-size: 24px;
                        margin-right: 8px;
                        display: inline-block;
                        font-weight: bold;
                        color: $color_menu;
                    }
                    .sale_price {
                        position: relative;
                        color: #acacac;
                        font-size: 19px;
                        text-decoration: line-through;
                    }
                }
                .ct_text {
                    color: $color_body;
                    font-size: 14px;
                    line-height: 24px;
                    padding: 16px 0px;
                    margin-bottom: 10px;
                    border-bottom: 1px #e1e1e1 solid;
                }
                .swatch {
                    h3 {
                        display: block;
                        font-size: 17px;
                        margin-bottom: 5px;
                    }
                    ul {
                        padding: 0;
                        li {
                            list-style: none;
                            display: inline-block;
                            margin-right: 5px;
                            padding: 3px 8px;
                            min-width: 26px !important;
                            margin: 0;
                            background: $color_menu;
                            color: $color_white;
                            border-radius: 5px;
                        }
                    }
                }
                .quantity_box {
                    position: relative;
                    margin: 20px 0;
                    .btn_quantity {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 40px;
                        height: 40px;
                        border-radius: 0px;
                        border: 1px solid #eee;
                        font-size: 28px;
                        line-height: 25px;
                    }
                    .btn_quantity_plus {
                        position: absolute;
                        right: 0;
                        top: 0;
                        width: 40px;
                        height: 40px;
                        border-radius: 0px;
                        border: 1px solid #eee;
                        font-size: 21px;
                    }
                    #numb\ {
                        text-align: center;
                    }
                    #numb {
                        text-align: center;
                        height: 40px;
                        text-align: center;
                        font-size: 16px;
                        border: 1px solid #eee;
                        box-shadow: none;
                    }
                }
                .cart_sg {
                    width: 100%;
                    height: 50px;
                    font-size: 20px;
                    border-radius: 30px;
                    background: $color_menu;
                    border-color: $color_menu;
                    position: relative;
                    transition: all 0.4s;
                    margin-bottom: 15px;
                    &:hover {
                        background-color: $color_white;
                        transition: all 0.4s;
                        color: $color_menu;
                        text-shadow: none;
                    }
                }
                .sg_hotline {
                    position: relative;
                    width: 300px;
                    height: 55px;
                    font-size: 20px;
                    border-radius: 3px;
                    background: #f8dd47;
                    border: 1px solid #f8dd47;
                    transition: all 0.4s;
                    padding-left: 65px;
                    .sg_phone {
                        font-weight: bold;
                        font-size: 22px;
                        color: red;
                    }
                    .sg_suport {
                        font-weight: 300;
                        font-size: 14px;
                        color: $color_white;
                    }
                    a {
                        text-decoration: none;
                    }
                    span {
                        display: block;
                    }
                    &::before {
                        position: absolute;
                        content: "\f095";
                        font-family: FontAwesome;
                        background: #f0c105;
                        text-align: center;
                        width: 55px;
                        height: 54px;
                        left: 0;
                        top: 0;
                        font-size: 22px;
                        color: $color_white;
                        line-height: 50px;
                    }
                }
            }
        }
        .sg_tab {
            margin-top: 35px;
            font-size: 14px;
            .tab-content {
                padding: 15px;
                min-height: 360px;
            }
            .nav.nav-pills {
                border-bottom: 1px solid $color_border;
            }
            .nav>li>a {
                position: relative;
                display: block;
                padding: 10px 0px;
                background: none;
                color: $color_body;
                font-weight: 600;
                font-size: 13px;
                padding-right: 20px;
                text-transform: uppercase;
                border: 0px;
                border-radius: 0px;
            }
            .nav-pills>li.active>a {
                color: $color_menu;
                border-bottom: 1px solid #f16b6f;
            }
        }
        .single_pro {
            border: none !important;
            .owl-nav {
                display: none;
            }
            .owl-dots {
                display: none;
            }
            .title_carousle {
                h2 {
                    text-decoration: none;
                    font-size: 23px;
                    margin: 10px 0 30px;
                    transition: all 0.3s;
                    color: #333333;
                }
            }
        }
    }
}

//css news
.news {
    .new_pro {
        img {
            width: 100%;
            margin-bottom: 20px;
        }
        h3 {
            a {
                font-size: 24px;
                line-height: 22px;
                font-weight: 500;
                transition: all 0.3s;
                color: $color_body;
                &:hover {
                    color: $color_menu;
                    transition: all 0.3s;
                }
            }
        }
        p {
            padding-top: 5px;
            font-size: 14px;
            color: $color_body;
            line-height: 20px;
            height: 100px;
            overflow: hidden;
        }
    }
    .new_postby {
        margin-top: 40px;
        padding: 10px 0;
        border-top: 1px solid $color_border;
        .pt_pro {
            padding: 15px 0;
            .pt_img {
                width: 33.333%;
                display: table-cell;
                vertical-align: top;
            }
            .pt_title {
                display: table-cell;
                vertical-align: top;
                padding-left: 15px;
                h3 {
                    margin: 0 0 10px;
                    a {
                        color: $color_black;
                        font-size: 14px;
                        font-weight: 600;
                        transition: all 0.3s;
                        &:hover {
                            transition: all 0.3s;
                            color: $color_menu;
                        }
                    }
                }
            }
        }
    }
}

//css 404
// trang error
.error-page {
    background: $color_menu;
    text-align: center;
    padding: 60px 0;
    h2 {
        font-style: normal;
        line-height: 1.4;
        margin-bottom: 15px;
        margin-top: 15px;
        text-rendering: optimizeLegibility;
        font-weight: 500;
        font-size: 40px;
        color: #fff;
    }
    a {
        color: #fff;
        border: 2px solid #fff;
        padding: 12px 32px;
        margin: 10px 5px;
        height: auto;
        min-height: 36px;
        line-height: 36px;
        font-size: 24px;
        display: inline-block;
    }
}

.hotline_affix {
    position: fixed;
    left: 2%;
    bottom: 5%;
    z-index: 99999;
    a {
        background: #9c0603;
        padding: 8px 15px;
        color: $color_white;
        font-weight: 600;
        border-radius: 7px;
        i {
            font-size: 20px;
            padding-right: 3px;
        }
    }
}

.scrollup {
    width: 43px;
    height: 43px;
    position: fixed;
    right: 2%;
    bottom: 5%;
    background-color: $color_menu;
    z-index: 99999 !important;
    text-align: center;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
}

.scrollup a {
    color: #fff;
    line-height: 35px;
    font-size: 30px;
    text-decoration: none;
    font-weight: 700;
}

.scrollup a:hover {
    background: $color_menu;
}


/* responsive */


/* 1199 991 767 480 414 375 360 320 max-width */

@media screen and (max-width: 1199px) {}

@media screen and (max-width: 991px) {
    header .hd_top {
        padding: 25px 0 0px;
    }
    header .hd_menu {
        display: none;
    }
    header .hd_top .logo {
        width: 100%;
        margin: 0 auto;
        padding-bottom: 15px;
        text-align: center;
        img {
            display: inline-block;
            max-width: 160px;
        }
    }
    header .hd_top .hd_form {
        padding: 5px 15px;
        background: $color_menu;
        .form-group {
            margin: 0;
        }
    }
    .sidebar_home {
        display: none;
    }
    .pro_infomation {
        display: none;
    }
    .pro_faceboook {
        text-align: center;
    }
    .fb {
        text-align: center;
    }
    footer .ft_logo .logo {
        text-align: left;
    }
    footer .ft_form .form-group label {
        display: block;
        width: 100%;
    }
    footer .ft_form .form-group {
        position: relative;
        overflow: hidden;
        display: block;
        width: 100%;
        .form-control {
            width: 100%;
        }
    }
    footer .mailchimp {
        padding-left: 15px;
    }
    .copy_left {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }
    .copy_list {
        width: 100%;
        text-align: center;
    }
    .ft_list {
        margin-bottom: 30px;
    }
    .breadcrumbs {
        padding-top: 20px;
    }
    .phantrang {
        margin: 10px 0;
    }
    .sg_tab {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 767px) {
    .category .cate_number .sapxep form select {
        width: 150px;
    }
    .thumb_main {
        margin-bottom: 30px;
    }
    .nav-pills>li {
        text-align: center;
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .category .list .pro_thumb {
        width: 100%;
    }
    .category .list .pro_text {
        width: 100%;
    }
    .list_width {
        width: 100%;
    }
}

@media screen and (max-width: 414px) {}

@media screen and (max-width: 375px) {}

@media screen and (max-width: 360px) {
    .ft_pdt {
        width: 100%;
    }
}

@media screen and (max-width: 320px) {}