body {
  font-size: 14px;
  color: #363636;
  line-height: 1.5;
  background: white;
}

.date {
  font-size: 13px;
  line-height: 20px;
  color: #acacac;
}

.date::before {
  content: "\f017";
  font-family: FontAwesome;
  margin-left: 20px;
  margin-right: 6px;
}

.user {
  font-size: 13px;
  line-height: 20px;
  color: #acacac;
}

.user::before {
  content: "\f2be";
  font-family: FontAwesome;
  margin-right: 6px;
}

.breadcrumbs {
  padding-bottom: 20px;
  border-bottom: 1px solid #ebebeb;
}

.breadcrumbs ul {
  padding: 0;
  margin: 0;
}

.breadcrumbs ul li {
  list-style: none;
  display: inline-block;
  color: #363636;
  font-size: 15px;
}

.breadcrumbs ul li a {
  color: #363636;
  transition: all 0.3s;
  font-size: 15px;
}

.breadcrumbs ul li a::after {
  content: "\f105";
  font-family: FontAwesome;
  padding-left: 5px;
}

.breadcrumbs ul li a:hover {
  color: #f16b6f;
  transition: all 0.3s;
}

.fb {
  width: 100%;
  overflow: hidden;
}

.menu_mobile {
  position: absolute;
  left: 15px;
  top: 5px;
  font-size: 22px;
  cursor: pointer;
}

.menu_mobile:hover {
  color: #f16b6f;
  transition: all 0.3s;
}

.cart_mobile {
  position: absolute;
  right: 25px;
  top: 5px;
  font-size: 20px;
}

.cart_mobile .position_cart {
  position: relative;
}

.cart_mobile .position_cart a {
  color: #363636;
}

.cart_mobile .position_cart a .cartcount {
  position: absolute;
  width: 25px;
  height: 25px;
  color: white;
  background: #f16b6f;
  border-radius: 50%;
  text-align: center;
  line-height: 25px;
  font-size: 17px;
  top: -10px;
  right: -15px;
}

#menu-mobile {
  background: #f6f6f6;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 300px;
  height: 100%;
  -webkit-transform: translateX(-300px);
  -moz-transform: translateX(-300px);
  -ms-transform: translateX(-300px);
  -o-transform: translateX(-300px);
  transform: translateX(-300px);
  transition: all 0.4s;
  overflow: auto;
}

#menu-mobile .nav_mobile {
  padding: 20px 15px;
}

#menu-mobile .nav_mobile h2 {
  color: #333;
  font-weight: 700;
  font-size: 24px;
  margin: 0;
  margin-bottom: 10px;
  position: relative;
}

#menu-mobile .nav_mobile h2 img {
  max-height: 50px;
}

#menu-mobile .nav_mobile h2 i {
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  right: 0;
  color: #f16b6f;
}

#menu-mobile .nav_mobile .search-mb {
  border: 1px solid #e9e9e9;
  padding: 20px 0;
  border-right: none;
  border-left: none;
}

#menu-mobile .nav_mobile .search-mb form {
  position: relative;
}

#menu-mobile .nav_mobile .search-mb form .search {
  border: 1px solid #e9e9e9;
  width: 100%;
  padding: 7px 10px;
}

#menu-mobile .nav_mobile .search-mb form .submit {
  position: absolute;
  top: 0;
  right: 0;
  background: #f16b6f;
  padding: 8px 10px;
  border: none;
  color: white;
}

#menu-mobile .nav_mobile ul {
  list-style: none;
  padding: 0;
  overflow: auto;
}

#menu-mobile .nav_mobile ul li {
  clear: both;
  border-top: 1px solid #e9e9e9;
  position: relative;
}

#menu-mobile .nav_mobile ul li:first-child {
  border: none;
}

#menu-mobile .nav_mobile ul li a {
  color: black;
  padding: 10px 0;
  display: inline-block;
}

#menu-mobile .nav_mobile ul li a:hover {
  opacity: 0.8;
}

#menu-mobile .nav_mobile ul li .sub-menu {
  padding: 0;
  max-height: 0;
  transition: all 0.5s;
  overflow: hidden;
}

#menu-mobile .nav_mobile ul li .sub-menu li:first-child {
  border-top: 1px solid #e9e9e9;
}

#menu-mobile .nav_mobile ul li .sub-menu li a {
  padding-left: 20px;
  display: inline-block;
}

#menu-mobile .nav_mobile ul li .sub-menu .sub-menu {
  max-height: 0;
  overflow: hidden;
}

#menu-mobile .nav_mobile ul li .sub-menu .sub-menu a {
  padding-left: 40px;
}

#menu-mobile .nav_mobile ul .active a {
  font-weight: 700;
}

#menu-mobile .nav_mobile .user-nav-mb {
  padding-bottom: 30px;
}

#menu-mobile .nav_mobile .user-nav-mb span {
  width: 50%;
  float: left;
}

#menu-mobile .nav_mobile .user-nav-mb span i {
  margin-right: 10px;
  color: #f16b6f;
}

#menu-mobile .nav_mobile .user-nav-mb span a {
  color: black;
}

#menu-mobile .accordion {
  color: #f16b6f;
  cursor: pointer;
  width: 10%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: all 0.4s;
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px 0;
  background: none;
}

#menu-mobile .accordion:after {
  content: "\f067";
  font-family: fontAwesome;
  color: #f16b6f;
  font-weight: bold;
  margin-left: 5px;
}

#menu-mobile .accordion.active:after {
  content: "\f068";
  font-family: FontAwesome;
}

header .hd_top {
  background: url("../images/bg_top.jpg") no-repeat;
  box-shadow: 0px 3px 15px 0px rgba(225, 225, 225, 0.77);
  padding: 25px 0 65px;
}

header .hd_top .logo {
  max-width: 250px;
}

header .hd_top .logo img {
  max-width: 250px;
}

header .hd_top .hd_form {
  padding-top: 15px;
}

header .hd_top .hd_form .form-group {
  position: relative;
}

header .hd_top .hd_form .form-group .form-control {
  border-radius: 3px;
  font-style: italic;
  border-color: #ebebeb;
  box-shadow: none;
  padding-left: 20px;
  height: 45px;
}

header .hd_top .hd_form .form-group .btn.btn-primary {
  position: absolute;
  right: 0;
  top: 0;
  height: 45px;
  border: 0px;
  background: none;
  box-shadow: none;
  color: #f16b6f;
  text-shadow: none;
  padding: 0px 20px;
  font-size: 18px;
}

header .hd_top .hd_form .form-group .btn.btn-primary::before {
  content: "";
  display: inline-block;
  height: 30px;
  width: 1px;
  background: #ebebeb;
  position: absolute;
  right: 60px;
  top: 8px;
}

header .hd_top .hd_right .user {
  padding-top: 30px;
}

header .hd_top .hd_right .user .fa-angle-down {
  margin-left: 3px;
}

header .hd_top .hd_right .user a {
  color: #363636;
  transition: all 0.3s;
}

header .hd_top .hd_right .user a:hover {
  color: #f16b6f;
  transition: all 0.3s;
}

header .hd_top .hd_right .user .dropdown-menu {
  text-transform: uppercase;
  border-radius: 0px;
  padding: 0px;
  left: auto;
  right: 0;
  margin-top: 8px;
}

header .hd_top .hd_right .user .dropdown-menu li a {
  padding: 7px 20px;
  color: #363636;
  transition: all 0.3s;
}

header .hd_top .hd_right .user .dropdown-menu li a:hover {
  color: #f16b6f;
  transition: all 0.3s;
  background: #ebebeb;
}

header .hd_top .hd_right .cart_lg {
  font-family: 'Roboto', sans-serif;
  padding-top: 20px;
  position: relative;
}

header .hd_top .hd_right .cart_lg:hover .cr_text h3 a {
  color: #f16b6f;
  transition: all 0.3s;
}

header .hd_top .hd_right .cart_lg:hover .cr_cart_show {
  visibility: visible;
  opacity: 1;
  transition: all 0.4s;
}

header .hd_top .hd_right .cart_lg .cr_icon {
  float: left;
  position: relative;
}

header .hd_top .hd_right .cart_lg .cr_icon .cartcount {
  position: absolute;
  width: 25px;
  height: 25px;
  color: white;
  background: #f16b6f;
  border-radius: 50%;
  text-align: center;
  line-height: 25px;
  font-size: 17px;
  top: -10px;
  right: -12px;
}

header .hd_top .hd_right .cart_lg .cr_text {
  float: left;
  padding-left: 15px;
}

header .hd_top .hd_right .cart_lg .cr_text h3 {
  margin: 0 0 3px;
}

header .hd_top .hd_right .cart_lg .cr_text h3 a {
  font-size: 14px;
  color: #363636;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 900;
  display: block;
  transition: all 0.3s;
}

header .hd_top .hd_right .cart_lg .cr_text p span {
  color: #f16b6f;
}

header .hd_top .hd_right .cart_lg .cr_cart_show {
  position: absolute;
  width: 350px;
  right: 11%;
  top: 68px;
  box-shadow: 0px 0px 11px 0px rgba(225, 225, 225, 0.75);
  background: white;
  padding: 15px 20px;
  margin: 0px;
  max-height: 360px;
  overflow-y: auto;
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s;
  z-index: 90;
}

header .hd_menu {
  font-family: 'Roboto', sans-serif;
  margin-top: -30px;
}

header .hd_menu a {
  text-decoration: none !important;
}

header .hd_menu .has_mega {
  position: static !important;
}

header .hd_menu .has_mega:hover .menu_mega {
  visibility: visible;
  opacity: 1;
}

header .hd_menu .menu_mega {
  position: absolute;
  background: white;
  top: 100%;
  margin-top: 1px;
  left: 0;
  width: 100%;
  box-shadow: 0px 0px 11px 0px rgba(225, 225, 225, 0.75);
  padding: 20px;
  z-index: 99;
  visibility: hidden;
  opacity: 0;
  z-index: 999999;
  transition: all 0.3s;
}

header .hd_menu .menu_mega::before {
  content: '';
  width: 12px;
  height: 12px;
  background: white;
  position: absolute;
  z-index: 9999;
  left: 26.5%;
  top: -7px;
  -webkit-transform: rotate(50deg);
  transform: rotate(45deg);
}

header .hd_menu .menu_mega a {
  border: 0px !important;
  color: #363636 !important;
  background: none !important;
  padding: 0 !important;
}

header .hd_menu .menu_mega a:hover {
  border: 0px !important;
  background: none !important;
}

header .hd_menu .menu_mega .sub_menu_img {
  width: 40%;
  float: left;
  padding: 0 5px;
}

header .hd_menu .menu_mega .sub_menu {
  width: 20%;
  padding: 0 5px;
  float: left;
}

header .hd_menu .menu_mega .sub_menu ul {
  padding: 0;
}

header .hd_menu .menu_mega .sub_menu ul li {
  list-style: none;
  line-height: 28px;
}

header .hd_menu .menu_mega .sub_menu ul li a {
  text-transform: lowercase !important;
  transition: all 0.3s;
  display: block;
}

header .hd_menu .menu_mega .sub_menu ul li a:hover {
  color: #f16b6f !important;
}

header .hd_menu .menu_mega .sub_menu .sub_title h3 {
  margin: 0;
}

header .hd_menu .menu_mega .sub_menu .sub_title h3 a {
  display: inline-block;
  color: #333;
  font-size: 14px;
  font-weight: 700;
}

header .hd_menu .menu_mega .sub_menu .sub_title h3 a:hover {
  color: #f16b6f !important;
}

header .hd_menu .navbar-default {
  box-shadow: none;
  position: relative;
}

header .hd_menu .navbar-default .hd_phone {
  background-color: #362947;
  position: absolute;
  right: 30px;
  top: -10px;
  padding: 10px 20px;
  height: 68px;
}

header .hd_menu .navbar-default .hd_phone::before {
  content: "";
  border: 7px solid transparent;
  border-left: 8px solid #362947;
  position: absolute;
  left: -7px;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 3px;
}

header .hd_menu .navbar-default .hd_phone a {
  text-decoration: none;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
}

header .hd_menu .navbar-default .hd_phone a .menu_phone {
  display: block;
  color: #f16b6f;
  font-size: 16px;
  padding-bottom: 5px;
  font-weight: 400;
}

header .hd_menu .navbar-default .collapse.navbar-collapse {
  border-radius: 5px !important;
  padding: 0;
  background: #f16b6f;
}

header .hd_menu .navbar-default .collapse.navbar-collapse .navbar-nav {
  border-radius: 5px;
}

header .hd_menu .navbar-default .collapse.navbar-collapse .navbar-nav .active a {
  background: #dc4f54;
  border-radius: 5px 0 0 5px !important;
  border-top: 2px solid #AA0000;
}

header .hd_menu .navbar-default .collapse.navbar-collapse .navbar-nav li a {
  text-shadow: none;
  text-transform: uppercase;
  color: white;
  transition: all 0.4s;
  padding: 18px 20px;
  border-top: 2px solid #f16b6f;
  font-size: 16px;
}

header .hd_menu .navbar-default .collapse.navbar-collapse .navbar-nav li a:hover {
  background: #dc4f54;
  transition: all 0.4s;
  border-top: 2px solid #AA0000;
}

.home_content {
  margin-bottom: 5px;
}

.home_content a {
  text-decoration: none !important;
}

.home_content .sidebar_home {
  box-shadow: 0px 0px 11px 0px rgba(225, 225, 225, 0.75);
  border: 1px solid #ebebeb;
  border-radius: 3px;
  margin-bottom: 30px;
}

.home_content .sidebar_home .sd_title h2 {
  font-size: 14px;
  text-transform: uppercase;
  margin: 0;
  font-size: 15px;
  padding: 15px 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

.home_content .sidebar_home .sd_title h2::before {
  content: "\f036";
  font-family: FontAwesome;
  margin-right: 8px;
}

.home_content .sidebar_home .sd_list .fa.fa-angle-right.accordion {
  position: absolute !important;
  right: 0;
  overflow: hidden;
  z-index: 9999;
  width: 43px;
  padding: 16px;
  top: 0;
  color: #363636;
  transition: all 0.3s;
}

.home_content .sidebar_home .sd_list .fa.fa-angle-right.accordion:hover {
  transition: all 0.3s;
  color: white;
  background: #dc4f54;
}

.home_content .sidebar_home .sd_list .fa.fa-angle-right.accordion:focus {
  background: red;
}

.home_content .sidebar_home .sd_list .accordion {
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.home_content .sidebar_home .sd_list .panel {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  margin: 0;
  border: 0px;
}

.home_content .sidebar_home .sd_list .panel li a {
  border: none;
}

.home_content .sidebar_home .sd_list .panel li a::before {
  content: "";
  width: 0;
  height: 0;
  border: none;
}

.home_content .sidebar_home .sd_list ul {
  padding: 0;
}

.home_content .sidebar_home .sd_list ul li {
  list-style: none;
  position: relative;
}

.home_content .sidebar_home .sd_list ul li:first-child a {
  border-top: none;
}

.home_content .sidebar_home .sd_list ul li a {
  line-height: 24px;
  padding: 11.4px 0;
  margin: 0 20px;
  color: #363636;
  display: block;
  border-top: 1px solid #ebebeb;
  transition: all 0.3s;
  position: relative;
}

.home_content .sidebar_home .sd_list ul li a:hover {
  color: #f16b6f;
  transition: all 0.3s;
}

.home_content .sidebar_home .sd_list ul li a::before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  border: 1px solid #e1e1e1;
  border-radius: 50%;
  margin-right: 7px;
}

.home_content .slider .owl-nav {
  display: none;
}

.home_content .slider .owl-dots {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.price .pr_price {
  color: #f16b6f;
  font-size: 16px;
  line-height: 26px;
  display: inline-block;
  margin-right: 20px;
}

.price .pr_sale {
  text-decoration: line-through;
  color: #acacac;
  font-size: 16px;
  line-height: 12px;
}

.pro_title {
  margin-bottom: 12px;
}

.pro_title h2 {
  margin: 0;
  padding-bottom: 15px;
  position: relative;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 30px;
  border-bottom: 1px solid #ebebeb;
}

.pro_title h2::before {
  content: "";
  position: absolute;
  width: 45%;
  border-bottom: 1px solid #f16b6f;
  bottom: 0;
  left: 0;
}

.pro_title h2 a {
  color: #363636;
  text-transform: uppercase;
  font-weight: bold;
}

.home_product {
  padding-bottom: 65px;
}

.home_product a {
  text-decoration: none !important;
}

.home_product .owl-dots {
  display: none;
}

.home_product .product_list {
  padding: 20px;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  position: relative;
}

.home_product .product_list .owl-nav {
  position: absolute;
  top: -75px;
  right: -5px;
}

.home_product .product_list .owl-nav .owl-prev {
  background: #fff !important;
  color: #363636 !important;
  border: 1px solid #ebebeb;
  width: 22px;
  height: 23px;
  line-height: 13px;
  margin: 0;
}

.home_product .product_list .owl-nav .owl-next {
  background: #fff !important;
  color: #363636 !important;
  border: 1px solid #ebebeb;
  width: 22px;
  height: 23px;
  line-height: 13px;
}

.home_product .product_list .pro_carousle .caro_pro {
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ebebeb;
}

.home_product .product_list .pro_carousle .caro_pro:last-child {
  border-bottom: none;
  margin: 0;
  padding: 0;
}

.home_product .product_list .pro_carousle .caro_pro .caro_thumb {
  width: 33.333%;
  display: table-cell;
  vertical-align: top;
}

.home_product .product_list .pro_carousle .caro_pro .caro_thumb img {
  max-width: 150px;
}

.home_product .product_list .pro_carousle .caro_pro .caro_text {
  display: table-cell;
  vertical-align: top;
  padding-left: 10px;
}

.home_product .product_list .pro_carousle .caro_pro .caro_text .pro_title h3 {
  margin: 0 0 7px;
  height: 40px;
  overflow: hidden;
}

.home_product .product_list .pro_carousle .caro_pro .caro_text .pro_title h3 a {
  font-size: 14px;
  color: #363636;
  display: block;
  line-height: 20px;
  transition: all 0.3s;
}

.home_product .product_list .pro_carousle .caro_pro .caro_text .pro_title h3 a:hover {
  color: #f16b6f;
  transition: all 0.3s;
}

.home_product .feature {
  margin: 30px 0;
  font-family: 'Roboto', sans-serif;
}

.home_product .feature ul {
  padding: 0;
  border: 1px solid #ebebeb;
  border-radius: 5px;
  background-color: white;
}

.home_product .feature ul li {
  list-style: none;
  padding: 20px;
  border-bottom: 1px solid #ebebeb;
}

.home_product .feature ul li:last-child {
  border-bottom: none;
}

.home_product .feature ul li .fea_img {
  display: table-cell;
  vertical-align: top;
  width: 26.333%;
}

.home_product .feature ul li .fea_img img {
  max-width: 100%;
}

.home_product .feature ul li .fea_text {
  display: table-cell;
  vertical-align: top;
  padding-left: 15px;
}

.home_product .feature ul li .fea_text h4 {
  font-size: 13px;
  line-height: 20px;
  color: #f16b6f;
  font-weight: bold;
  text-transform: uppercase;
  margin: 4px 0 2px;
}

.home_product .feature ul li .fea_text p {
  font-size: 14px;
  line-height: 20px;
}

.home_product .pro_infomation {
  font-family: 'Roboto', sans-serif;
}

.home_product .pro_infomation .list_blogs {
  margin-bottom: 30px;
}

.home_product .pro_infomation .list_blogs .blog_item img {
  width: 100%;
  margin-bottom: 20px;
}

.home_product .pro_infomation .list_blogs .blog_item h4 a {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  transition: all 0.3s;
  color: #363636;
}

.home_product .pro_infomation .list_blogs .blog_item h4 a:hover {
  color: #f16b6f;
  transition: all 0.3s;
}

.home_product .pro_infomation .list_blogs .blog_item p {
  font-size: 14px;
  color: #acacac;
  line-height: 20px;
  height: 80px;
  overflow: hidden;
}

.home_product .pro_infomation .list_blogs ul {
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.home_product .pro_infomation .list_blogs ul li {
  list-style: none;
  padding: 10px 0px;
  border-bottom: 1px #ebebeb solid;
}

.home_product .pro_infomation .list_blogs ul li:last-child {
  border-bottom: none;
}

.home_product .pro_infomation .list_blogs ul li a {
  color: #363636;
  transition: all 0.3s;
  font-weight: 500;
  margin-bottom: 10px;
  display: inline-block;
}

.home_product .pro_infomation .list_blogs ul li a::before {
  content: "\f0da";
  font-family: FontAwesome;
  padding-right: 12px;
}

.home_product .pro_infomation .list_blogs ul li a:hover {
  color: #dc4f54;
  transition: all 0.3s;
}

.home_product .pro_faceboook h4 {
  font-size: 18px;
  font-weight: bold;
  color: #252525;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 20px;
}

.home_product .product_caruusle {
  border: 0px;
  padding: 0px;
}

.home_product .product_caruusle .pro_title h2::before {
  width: 24%;
}

.home_product .product_caruusle .pro_content {
  text-align: center;
  margin-bottom: 30px;
}

.home_product .product_caruusle .pro_content .item:hover .pro_thumb .pro_form .bt_cart {
  transform: translate(0);
  transition: all 0.3s;
}

.home_product .product_caruusle .pro_content .item:hover .pro_thumb .pro_form .bt_link {
  transform: translate(0);
  transition: all 0.3s;
}

.home_product .product_caruusle .pro_content .item .pro_thumb {
  position: relative;
  margin-bottom: 15px;
  overflow: hidden;
}

.home_product .product_caruusle .pro_content .item .pro_thumb .pro_sale {
  position: absolute;
  top: 0;
  right: 0;
}

.home_product .product_caruusle .pro_content .item .pro_thumb .pro_sale span {
  text-align: center;
  color: white;
  background: #f16b6f;
  display: block;
  border-radius: 50%;
  font-size: 14px;
  width: 42px;
  height: 42px;
  line-height: 40px;
  top: 10px;
  right: 10px;
}

.home_product .product_caruusle .pro_content .item .pro_thumb .pro_form {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%);
}

.home_product .product_caruusle .pro_content .item .pro_thumb .pro_form .bt_cart {
  display: block;
  background: #f16b6f !important;
  color: white !important;
  min-width: 120px;
  border: 0px;
  border-radius: 50px;
  margin-bottom: 5px;
  transform: translate(300px);
  transition: all 0.3s;
}

.home_product .product_caruusle .pro_content .item .pro_thumb .pro_form .bt_link {
  display: block;
  min-width: 120px;
  background: #ebebeb;
  color: #363636;
  transition: all 0.3s;
  border: 0px;
  text-shadow: none;
  border-radius: 50px;
  transform: translate(-300px);
  transition: all 0.3s;
}

.home_product .product_caruusle .pro_content .item .pro_thumb .pro_form .bt_link:hover {
  transition: all 0.3s;
  color: white;
  background: #f16b6f;
}

.home_product .product_caruusle .pro_content .item .pro_text h3 {
  font-size: 14px;
  line-height: 20px;
  padding: 0px 10px;
  margin: 0;
}

.home_product .product_caruusle .pro_content .item .pro_text h3 a {
  color: #363636;
  transition: all 0.3s;
}

.home_product .product_caruusle .pro_content .item .pro_text h3 a:hover {
  color: #f16b6f;
  transition: all 0.3s;
}

.home_product .product_caruusle .pro_content .pro_info {
  overflow: hidden;
}

.home_product .product_caruusle .pro_content .pro_info .info_thumb {
  width: 30%;
  display: table-cell;
  vertical-align: top;
  text-align: center;
  min-width: 80px;
  min-height: 80px;
  float: left;
  margin-right: 20px;
  margin-bottom: 30px;
}

.home_product .product_caruusle .pro_content .pro_info .info_thumb img {
  width: 100%;
}

.home_product .product_caruusle .pro_content .pro_info .info_content {
  display: table-cell;
  vertical-align: top;
  text-align: left;
}

.home_product .product_caruusle .pro_content .pro_info .info_content h3 {
  margin: 0 0 10px;
}

.home_product .product_caruusle .pro_content .pro_info .info_content h3 a {
  color: #363636;
  font-size: 14px;
  transition: all 0.3s;
}

.home_product .product_caruusle .pro_content .pro_info .info_content h3 a:hover {
  color: #f16b6f;
  transition: all 0.3s;
}

.home_product .product_caruusle .pro_content .pro_info .info_content p {
  font-size: 14px;
  color: #acacac;
  line-height: 22px;
  margin-top: 5px;
  height: 44px;
  overflow: hidden;
}

.home_product .pro_banner {
  margin-bottom: 25px;
}

footer {
  background: #fafafa;
  padding: 25px 0;
}

footer a {
  text-decoration: none !important;
}

footer .mailchimp {
  padding-left: 55px;
}

footer .ft_logo .logo {
  text-align: center;
}

footer .ft_logo .logo img {
  max-width: 250px;
  display: inline-block;
}

footer .ft_logo p {
  font-family: Roboto;
  font-size: 13px;
  margin: 20px 0px;
}

footer .ft_logo ul {
  padding: 0;
}

footer .ft_logo ul li {
  list-style: none;
  transition: all 0.3s;
  margin-bottom: 10px;
}

footer .ft_logo ul li:hover {
  color: #f16b6f;
  transition: all 0.3s;
}

footer .ft_logo ul li span .icon_ft {
  width: 30px;
  height: 30px;
  text-align: center;
  background: #f16b6f;
  line-height: 30px;
  color: white;
  border-radius: 50%;
  margin-right: 5px;
}

footer .ft_logo ul li a {
  color: #363636;
  transition: all 0.3s;
}

footer .ft_logo ul li a:hover {
  color: #f16b6f;
  transition: all 0.3s;
}

footer .ft_form {
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 25px;
  overflow: hidden;
}

footer .ft_form label {
  line-height: 44px;
  float: left;
  font-size: 14px;
  font-weight: 700;
  font-family: Open Sans, sans-serif;
  text-transform: uppercase;
  margin-bottom: 0;
}

footer .ft_form .form-group {
  position: relative;
}

footer .ft_form .form-group .btn.btn-primary {
  position: absolute;
  right: 0;
  top: 0;
  height: 44px;
  border-radius: 3px;
  padding: 0 20px;
  font-size: 13px;
  background: #f16b6f;
  border: 0px;
  text-transform: uppercase;
  font-size: 14px;
  color: white;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
}

footer .ft_form .form-group .form-control {
  box-shadow: none;
  outline: none;
  width: 76%;
  float: right;
  height: 44px;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  padding: 0 20px;
  font-size: 13px;
  font-style: italic;
}

footer .ft_content {
  margin: 25px 0px 0;
}

footer .ft_content h3 {
  position: relative;
  font-family: Open Sans, sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  padding-bottom: 10px;
  margin: 0 0 15px;
}

footer .ft_content h3::before {
  content: "";
  border-bottom: 1px solid #f16b6f;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50px;
}

footer .ft_content ul {
  padding: 0;
  margin: 0;
}

footer .ft_content ul li {
  list-style: none;
  margin-bottom: 15px;
}

footer .ft_content ul li a {
  color: #707070;
  font-size: 13px;
  transition: all 0.2s;
}

footer .ft_content ul li a:hover {
  color: #f16b6f;
  transition: all 0.2s;
}

.copy_right {
  background-color: #362947;
  padding: 12px 0px;
  color: white;
  font-size: 13px;
}

.copy_right p {
  margin: 0;
}

.copy_right p a {
  color: #f16b6f;
  font-size: 13px;
}

.copy_right ul {
  padding: 0;
  margin: 0;
}

.copy_right ul li {
  list-style: none;
  display: inline-block;
  padding-right: 10px;
}

.copy_right ul li a {
  text-decoration: none;
  color: white;
}

.copy_right ul li a:hover {
  color: #f16b6f;
}

.category .cate_title {
  margin: 25px 0 10px;
}

.category .cate_title h2 {
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
}

.category .cate_number {
  padding: 13px 20px;
  background-color: #f3f3f3;
  border-radius: 5px;
  margin-bottom: 30px;
}

.category .cate_number .pro_main button {
  cursor: pointer;
  border: 1px #ebebeb solid;
  color: #363636;
  border: 0px;
  padding: 5px 7px 5px 0px;
}

.category .cate_number .pro_main button i {
  font-size: 22px;
  vertical-align: middle;
  padding-right: 3px;
}

.category .cate_number .pro_main .active {
  background: none;
  color: #f16b6f;
}

.category .cate_number .sapxep {
  float: right;
}

.category .cate_number .sapxep label {
  display: inline;
  margin-right: 10px;
  padding: 5px 0;
  font-size: 12px;
  font-weight: normal;
}

.category .cate_number .sapxep form {
  display: inline;
}

.category .cate_number .sapxep form select {
  width: 240px;
  border-radius: 0px;
  border: 0px;
  margin-left: 10px;
  font-size: 16px;
  height: 32px;
  padding-left: 5px;
}

.category .cate_product .cate_pro {
  text-align: center;
  padding-bottom: 15px;
  overflow: hidden;
}

.category .cate_product .cate_pro:hover .pro_thumb .pro_form .bt_cart {
  transform: translate(0);
  transition: all 0.3s;
}

.category .cate_product .cate_pro:hover .pro_thumb .pro_form .bt_link {
  transform: translate(0);
  transition: all 0.3s;
}

.category .cate_product .cate_pro .pro_thumb {
  position: relative;
  margin-bottom: 15px;
  overflow: hidden;
}

.category .cate_product .cate_pro .pro_thumb .pro_sale {
  position: absolute;
  top: 0;
  right: 0;
}

.category .cate_product .cate_pro .pro_thumb .pro_sale span {
  text-align: center;
  color: white;
  background: #f16b6f;
  display: block;
  border-radius: 50%;
  font-size: 14px;
  width: 42px;
  height: 42px;
  line-height: 40px;
  top: 10px;
  right: 10px;
}

.category .cate_product .cate_pro .pro_thumb .pro_form {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%);
}

.category .cate_product .cate_pro .pro_thumb .pro_form .bt_cart {
  display: block;
  background: #f16b6f !important;
  color: white !important;
  min-width: 120px;
  border: 0px;
  border-radius: 50px;
  margin-bottom: 5px;
  transform: translate(300px);
  transition: all 0.3s;
}

.category .cate_product .cate_pro .pro_thumb .pro_form .bt_link {
  display: block;
  min-width: 120px;
  background: #ebebeb;
  color: #363636;
  transition: all 0.3s;
  border: 0px;
  text-shadow: none;
  border-radius: 50px;
  transform: translate(-300px);
  transition: all 0.3s;
}

.category .cate_product .cate_pro .pro_thumb .pro_form .bt_link:hover {
  transition: all 0.3s;
  color: white;
  background: #f16b6f;
}

.category .cate_product .cate_pro .pro_text h3 {
  font-size: 14px;
  line-height: 20px;
  padding: 0px 10px;
  margin: 0;
}

.category .cate_product .cate_pro .pro_text h3 a {
  color: #363636;
  transition: all 0.3s;
}

.category .cate_product .cate_pro .pro_text h3 a:hover {
  color: #f16b6f;
  transition: all 0.3s;
}

.category .list {
  padding: 30px;
}

.category .list .list_width {
  width: 100%;
}

.category .list .pro_form {
  display: none;
}

.category .list .pro_form_list .bt_cart {
  float: left;
  background: #f16b6f !important;
  color: white !important;
  min-width: 120px;
  border: 0px;
  border-radius: 50px;
  margin-bottom: 5px;
  margin-right: 10px;
}

.category .list .pro_form_list .bt_link {
  float: left;
  min-width: 120px;
  background: #ebebeb;
  color: #363636;
  transition: all 0.3s;
  border: 0px;
  text-shadow: none;
  border-radius: 50px;
  transition: all 0.3s;
}

.category .list .pro_form_list .bt_link:hover {
  transition: all 0.3s;
  color: white;
  background: #f16b6f;
}

.category .list .pro_thumb {
  width: 33.33%;
  float: left;
}

.category .list .pro_thumb img {
  width: 100%;
}

.category .list .pro_text {
  text-align: left;
  display: table-cell;
  padding-left: 15px;
  width: 66%;
}

.category .list .pro_text h3 {
  padding: 0 !important;
}

.category .list .pro_text h3 a {
  font-size: 24px !important;
  line-height: 20px !important;
}

.category .list .pro_text p {
  font-size: 14px;
  line-height: 24px;
  color: #636363;
  margin: 15px 0px;
  margin-bottom: 30px;
}

.phantrang {
  text-align: right;
  margin: 40px 0;
}

.phantrang .pagination > li > a,
.phantrang .pagination > li > span {
  border-radius: 50% !important;
  margin: 0 5px;
  color: #363636;
}

.phantrang .pagination > .active > a,
.phantrang .pagination > .active > a:focus,
.phantrang .pagination > .active > a:hover,
.phantrang .pagination > .active > span,
.phantrang .pagination > .active > span:focus,
.phantrang .pagination > .active > span:hover {
  background-color: #f16b6f;
  border-color: #f16b6f;
  color: white;
}

.single {
  padding: 30px 0;
}

.single .sg_slide {
  margin-top: 10px;
}

.single .single_content .sg_title h1 {
  font-size: 24px;
  margin-top: 0;
  color: #363636;
  font-weight: 400;
  line-height: auto;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px 0px 10px;
}

.single .single_content .sg_product .thumb_main img {
  width: 100%;
  cursor: pointer;
}

.single .single_content .sg_product .thumb_main .owl-nav {
  display: none;
}

.single .single_content .sg_product .thumb_main .owl-dots {
  display: none;
}

.single .single_content .sg_product .content_main .border_bottom_details {
  width: 100%;
  padding: 2px 0px;
  border: dashed 1px #ddd;
  display: block;
  margin: 40px 0px 25px;
  border-right: 0px;
  border-left: 0px;
}

.single .single_content .sg_product .content_main .store_hang {
  display: block;
}

.single .single_content .sg_product .content_main .store_hang ul {
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 20px;
}

.single .single_content .sg_product .content_main .store_hang ul li {
  list-style: none;
  display: inline-block;
  font-size: 14px;
  margin-right: 15px;
}

.single .single_content .sg_product .content_main .sg_price .special_price {
  font-size: 24px;
  margin-right: 8px;
  display: inline-block;
  font-weight: bold;
  color: #f16b6f;
}

.single .single_content .sg_product .content_main .sg_price .sale_price {
  position: relative;
  color: #acacac;
  font-size: 19px;
  text-decoration: line-through;
}

.single .single_content .sg_product .content_main .ct_text {
  color: #363636;
  font-size: 14px;
  line-height: 24px;
  padding: 16px 0px;
  margin-bottom: 10px;
  border-bottom: 1px #e1e1e1 solid;
}

.single .single_content .sg_product .content_main .swatch h3 {
  display: block;
  font-size: 17px;
  margin-bottom: 5px;
}

.single .single_content .sg_product .content_main .swatch ul {
  padding: 0;
}

.single .single_content .sg_product .content_main .swatch ul li {
  list-style: none;
  display: inline-block;
  margin-right: 5px;
  padding: 3px 8px;
  min-width: 26px !important;
  margin: 0;
  background: #f16b6f;
  color: white;
  border-radius: 5px;
}

.single .single_content .sg_product .content_main .quantity_box {
  position: relative;
  margin: 20px 0;
}

.single .single_content .sg_product .content_main .quantity_box .btn_quantity {
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 40px;
  border-radius: 0px;
  border: 1px solid #eee;
  font-size: 28px;
  line-height: 25px;
}

.single .single_content .sg_product .content_main .quantity_box .btn_quantity_plus {
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 40px;
  border-radius: 0px;
  border: 1px solid #eee;
  font-size: 21px;
}

.single .single_content .sg_product .content_main .quantity_box #numb\ {
  text-align: center;
}

.single .single_content .sg_product .content_main .quantity_box #numb {
  text-align: center;
  height: 40px;
  text-align: center;
  font-size: 16px;
  border: 1px solid #eee;
  box-shadow: none;
}

.single .single_content .sg_product .content_main .cart_sg {
  width: 100%;
  height: 50px;
  font-size: 20px;
  border-radius: 30px;
  background: #f16b6f;
  border-color: #f16b6f;
  position: relative;
  transition: all 0.4s;
  margin-bottom: 15px;
}

.single .single_content .sg_product .content_main .cart_sg:hover {
  background-color: white;
  transition: all 0.4s;
  color: #f16b6f;
  text-shadow: none;
}

.single .single_content .sg_product .content_main .sg_hotline {
  position: relative;
  width: 300px;
  height: 55px;
  font-size: 20px;
  border-radius: 3px;
  background: #f8dd47;
  border: 1px solid #f8dd47;
  transition: all 0.4s;
  padding-left: 65px;
}

.single .single_content .sg_product .content_main .sg_hotline .sg_phone {
  font-weight: bold;
  font-size: 22px;
  color: red;
}

.single .single_content .sg_product .content_main .sg_hotline .sg_suport {
  font-weight: 300;
  font-size: 14px;
  color: white;
}

.single .single_content .sg_product .content_main .sg_hotline a {
  text-decoration: none;
}

.single .single_content .sg_product .content_main .sg_hotline span {
  display: block;
}

.single .single_content .sg_product .content_main .sg_hotline::before {
  position: absolute;
  content: "\f095";
  font-family: FontAwesome;
  background: #f0c105;
  text-align: center;
  width: 55px;
  height: 54px;
  left: 0;
  top: 0;
  font-size: 22px;
  color: white;
  line-height: 50px;
}

.single .single_content .sg_tab {
  margin-top: 35px;
  font-size: 14px;
}

.single .single_content .sg_tab .tab-content {
  padding: 15px;
  min-height: 360px;
}

.single .single_content .sg_tab .nav.nav-pills {
  border-bottom: 1px solid #ebebeb;
}

.single .single_content .sg_tab .nav > li > a {
  position: relative;
  display: block;
  padding: 10px 0px;
  background: none;
  color: #363636;
  font-weight: 600;
  font-size: 13px;
  padding-right: 20px;
  text-transform: uppercase;
  border: 0px;
  border-radius: 0px;
}

.single .single_content .sg_tab .nav-pills > li.active > a {
  color: #f16b6f;
  border-bottom: 1px solid #f16b6f;
}

.single .single_content .single_pro {
  border: none !important;
}

.single .single_content .single_pro .owl-nav {
  display: none;
}

.single .single_content .single_pro .owl-dots {
  display: none;
}

.single .single_content .single_pro .title_carousle h2 {
  text-decoration: none;
  font-size: 23px;
  margin: 10px 0 30px;
  transition: all 0.3s;
  color: #333333;
}

.news .new_pro img {
  width: 100%;
  margin-bottom: 20px;
}

.news .new_pro h3 a {
  font-size: 24px;
  line-height: 22px;
  font-weight: 500;
  transition: all 0.3s;
  color: #363636;
}

.news .new_pro h3 a:hover {
  color: #f16b6f;
  transition: all 0.3s;
}

.news .new_pro p {
  padding-top: 5px;
  font-size: 14px;
  color: #363636;
  line-height: 20px;
  height: 100px;
  overflow: hidden;
}

.news .new_postby {
  margin-top: 40px;
  padding: 10px 0;
  border-top: 1px solid #ebebeb;
}

.news .new_postby .pt_pro {
  padding: 15px 0;
}

.news .new_postby .pt_pro .pt_img {
  width: 33.333%;
  display: table-cell;
  vertical-align: top;
}

.news .new_postby .pt_pro .pt_title {
  display: table-cell;
  vertical-align: top;
  padding-left: 15px;
}

.news .new_postby .pt_pro .pt_title h3 {
  margin: 0 0 10px;
}

.news .new_postby .pt_pro .pt_title h3 a {
  color: black;
  font-size: 14px;
  font-weight: 600;
  transition: all 0.3s;
}

.news .new_postby .pt_pro .pt_title h3 a:hover {
  transition: all 0.3s;
  color: #f16b6f;
}

.error-page {
  background: #f16b6f;
  text-align: center;
  padding: 60px 0;
}

.error-page h2 {
  font-style: normal;
  line-height: 1.4;
  margin-bottom: 15px;
  margin-top: 15px;
  text-rendering: optimizeLegibility;
  font-weight: 500;
  font-size: 40px;
  color: #fff;
}

.error-page a {
  color: #fff;
  border: 2px solid #fff;
  padding: 12px 32px;
  margin: 10px 5px;
  height: auto;
  min-height: 36px;
  line-height: 36px;
  font-size: 24px;
  display: inline-block;
}

.hotline_affix {
  position: fixed;
  left: 2%;
  bottom: 5%;
  z-index: 99999;
}

.hotline_affix a {
  background: #9c0603;
  padding: 8px 15px;
  color: white;
  font-weight: 600;
  border-radius: 7px;
}

.hotline_affix a i {
  font-size: 20px;
  padding-right: 3px;
}

.scrollup {
  width: 43px;
  height: 43px;
  position: fixed;
  right: 2%;
  bottom: 5%;
  background-color: #f16b6f;
  z-index: 99999 !important;
  text-align: center;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
}

.scrollup a {
  color: #fff;
  line-height: 35px;
  font-size: 30px;
  text-decoration: none;
  font-weight: 700;
}

.scrollup a:hover {
  background: #f16b6f;
}

/* responsive */
/* 1199 991 767 480 414 375 360 320 max-width */
@media screen and (max-width: 991px) {
  header .hd_top {
    padding: 25px 0 0px;
  }
  header .hd_menu {
    display: none;
  }
  header .hd_top .logo {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 15px;
    text-align: center;
  }
  header .hd_top .logo img {
    display: inline-block;
    max-width: 160px;
  }
  header .hd_top .hd_form {
    padding: 5px 15px;
    background: #f16b6f;
  }
  header .hd_top .hd_form .form-group {
    margin: 0;
  }
  .sidebar_home {
    display: none;
  }
  .pro_infomation {
    display: none;
  }
  .pro_faceboook {
    text-align: center;
  }
  .fb {
    text-align: center;
  }
  footer .ft_logo .logo {
    text-align: left;
  }
  footer .ft_form .form-group label {
    display: block;
    width: 100%;
  }
  footer .ft_form .form-group {
    position: relative;
    overflow: hidden;
    display: block;
    width: 100%;
  }
  footer .ft_form .form-group .form-control {
    width: 100%;
  }
  footer .mailchimp {
    padding-left: 15px;
  }
  .copy_left {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }
  .copy_list {
    width: 100%;
    text-align: center;
  }
  .ft_list {
    margin-bottom: 30px;
  }
  .breadcrumbs {
    padding-top: 20px;
  }
  .phantrang {
    margin: 10px 0;
  }
  .sg_tab {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 767px) {
  .category .cate_number .sapxep form select {
    width: 150px;
  }
  .thumb_main {
    margin-bottom: 30px;
  }
  .nav-pills > li {
    text-align: center;
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .category .list .pro_thumb {
    width: 100%;
  }
  .category .list .pro_text {
    width: 100%;
  }
  .list_width {
    width: 100%;
  }
}

@media screen and (max-width: 360px) {
  .ft_pdt {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */