body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  background: #fff;
  color: #333;
  background: url("../images/sky.jpg") no-repeat;
  background-size: cover;
}

.ovelay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.6;
  transition: opacity .25s;
}

.open-nav {
  float: left;
  line-height: 66px;
  font-size: 28px;
  cursor: pointer;
  color: #e1e1e1;
}

#menu-mobile {
  background: #f6f6f6;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 300px;
  height: 100%;
  -webkit-transform: translateX(-300px);
  -moz-transform: translateX(-300px);
  -ms-transform: translateX(-300px);
  -o-transform: translateX(-300px);
  transform: translateX(-300px);
  transition: all 0.4s;
  overflow: auto;
}

#menu-mobile .fa.fa-times {
  cursor: pointer;
}

#menu-mobile .nav_mobile {
  padding: 20px 15px;
}

#menu-mobile .nav_mobile h2 {
  color: #333;
  font-weight: 700;
  font-size: 24px;
  margin: 0;
  margin-bottom: 10px;
  position: relative;
}

#menu-mobile .nav_mobile h2 img {
  max-height: 50px;
}

#menu-mobile .nav_mobile h2 i {
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  right: 0;
  color: #19c589;
}

#menu-mobile .nav_mobile .search-mb {
  border: 1px solid #e9e9e9;
  padding: 20px 0;
  border-right: none;
  border-left: none;
}

#menu-mobile .nav_mobile .search-mb form {
  position: relative;
}

#menu-mobile .nav_mobile .search-mb form .search {
  border: 1px solid #e9e9e9;
  width: 100%;
  padding: 7px 10px;
}

#menu-mobile .nav_mobile .search-mb form .submit {
  position: absolute;
  top: 0;
  right: 0;
  background: #19c589;
  padding: 8px 10px;
  border: none;
  color: #fff;
}

#menu-mobile .nav_mobile ul {
  list-style: none;
  padding: 0;
  overflow: auto;
}

#menu-mobile .nav_mobile ul li {
  clear: both;
  border-top: 1px solid #e9e9e9;
  position: relative;
}

#menu-mobile .nav_mobile ul li:first-child {
  border: none;
}

#menu-mobile .nav_mobile ul li a {
  color: black;
  padding: 10px 0;
  display: inline-block;
}

#menu-mobile .nav_mobile ul li a:hover {
  opacity: 0.8;
}

#menu-mobile .nav_mobile ul li .sub-menu {
  padding: 0;
  max-height: 0;
  transition: all 0.5s;
  overflow: hidden;
}

#menu-mobile .nav_mobile ul li .sub-menu li:first-child {
  border-top: 1px solid #e9e9e9;
}

#menu-mobile .nav_mobile ul li .sub-menu li a {
  padding-left: 20px;
  display: inline-block;
}

#menu-mobile .nav_mobile ul li .sub-menu .sub-menu {
  max-height: 0;
  overflow: hidden;
}

#menu-mobile .nav_mobile ul li .sub-menu .sub-menu a {
  padding-left: 40px;
}

#menu-mobile .nav_mobile ul .active a {
  font-weight: 700;
}

#menu-mobile .nav_mobile .user-nav-mb span {
  width: 50%;
  float: left;
}

#menu-mobile .nav_mobile .user-nav-mb span i {
  margin-right: 10px;
  color: #19c589;
}

#menu-mobile .nav_mobile .user-nav-mb span a {
  color: #333;
}

#menu-mobile .accordion {
  color: #19c589;
  cursor: pointer;
  width: 10%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: all 0.4s;
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px 0;
  background: none;
}

#menu-mobile .accordion:after {
  content: "\f067";
  font-family: fontAwesome;
  color: #19c589;
  font-weight: bold;
  margin-left: 5px;
}

#menu-mobile .accordion.active:after {
  content: "\f068";
  font-family: FontAwesome;
}

a {
  text-decoration: none !important;
}

.hrcat {
  width: 100%;
  height: 1px;
  margin: 15px auto 0 auto;
  clear: both;
  border: none;
  background: -moz-linear-gradient(left, #FFFFFF 0%, #009688 50%, #FFFFFF 100%);
  background: -webkit-linear-gradient(left, #FFFFFF 0%, #009688 50%, #FFFFFF 100%);
  background: linear-gradient(left, #FFFFFF 0%, #009688 50%, #FFFFFF 100%);
  background: -ms-linear-gradient(left, #FFFFFF 0%, #009688 50%, #FFFFFF 100%);
  background: -webkit-gradient(left, #FFFFFF 0%, #009688 50%, #FFFFFF 100%);
  display: inline-block;
}

img {
  max-width: 100% !important;
}

header .hd_menu .navbar.navbar-default {
  margin: 0;
  border: 0px;
  background: rgba(26, 0, 255, 0.75);
  border-radius: 0px;
  box-shadow: none;
}

header .hd_menu .navbar.navbar-default ul li a {
  text-shadow: none;
  color: #fff;
  text-shadow: none;
  padding: 15px 15px;
  font-weight: 600;
  font-size: 15px;
}

header .hd_menu .navbar.navbar-default ul li a:hover {
  background: #19c589;
}

header .hd_menu .navbar.navbar-default ul .fa.fa-caret-down.accordion {
  position: absolute;
  right: 3px;
  top: 19px;
  overflow: hidden;
  z-index: 9999;
  color: #fff;
}

header .hd_menu .navbar.navbar-default ul .show_menu {
  position: relative;
}

header .hd_menu .navbar.navbar-default ul .show_menu:hover {
  background: #19c589;
}

header .hd_menu .navbar.navbar-default ul .show_menu:hover .sub_menu {
  visibility: visible;
  opacity: 1;
  top: 50px;
  transition: 0.4s;
}

header .hd_menu .navbar.navbar-default ul .show_menu .sub_menu {
  position: absolute;
  z-index: 999;
  padding: 0;
  min-width: 270px;
  background: #19c589;
  visibility: hidden;
  opacity: 0;
  top: 100px;
  transition: 0.4s;
}

header .hd_menu .navbar.navbar-default ul .show_menu .sub_menu li {
  list-style: none;
  display: block;
  border-bottom: 1px dashed #e1e1e1;
}

header .hd_menu .navbar.navbar-default ul .show_menu .sub_menu li:last-child {
  border-bottom: none;
}

header .hd_menu .navbar.navbar-default ul .show_menu .sub_menu li a {
  display: block;
  padding: 10px;
}

.ct_share {
  display: block;
  float: right;
  margin-bottom: 7px;
}

.ct_share .icon_share {
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  transition: all 0.3s;
}

.ct_share .icon_share::before {
  content: '';
  opacity: 0.66;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
}

.ct_share .icon_share .team_icon {
  width: 100%;
  bottom: 20px;
}

.ct_share .icon_share .team_icon a {
  float: none;
  position: relative;
  z-index: 3;
  font-size: 20px !important;
  margin: 0 3px !important;
  display: inline-block;
  color: #fff;
  border-radius: 3px;
  overflow: hidden;
  text-decoration: none;
}

.ct_share .icon_share .team_icon a i {
  display: block;
  line-height: 35px;
  transition: all 0.4s;
}

.ct_share .icon_share .team_icon a:hover i {
  transition: all 0.4s;
  transform: translateY(-35px);
}

.ct_share .icon_share .team_icon .smail {
  width: 35px;
  height: 35px;
  font-size: 14px;
  line-height: 25px !important;
}

.ct_share .icon_share .team_icon .fb_icon {
  background-color: #3B5998;
}

.ct_share .icon_share .team_icon .tw_icon {
  background-color: #00ACEE;
}

.ct_share .icon_share .team_icon .gg_icon {
  background-color: #DD4B39;
}

.ct_share .icon_share .team_icon .yt_icon {
  background-color: #C4302B;
}

/* responsive */
/* 1199 991 767 480 414 375 360 320 max-width */
@media screen and (max-width: 991px) {
  header .hd_top .hd_right .hd_address p {
    display: none;
  }
  .ct_share {
    margin-top: 20px;
  }
  header .hd_top .hd_search {
    padding-top: 20px;
  }
  .smail.yt_icon {
    display: none !important;
  }
  .collapse.navbar-collapse.navbar-ex1-collapse {
    display: none !important;
  }
  .banner_main .bn_pro .bn_title span {
    font-size: 16px;
  }
  .banner_main .bn_pro .bn_title p {
    font-size: 15px;
  }
  .main_sidebar {
    margin-top: 30px;
  }
  header .hd_top .hd_search .form-group .bt_search {
    top: 47px;
  }
  .hd_search {
    display: none;
  }
  header .hd_center_phone {
    padding-top: 10px;
  }
}

@media screen and (max-width: 767px) {
  header .hd_top .logo {
    margin: 0 auto;
  }
  .hd_right {
    display: none;
  }
  .form-group {
    margin: 0;
  }
  .bn_pro {
    margin-bottom: 30px;
  }
  .banner_main {
    padding: 15px 0 0;
  }
  .ft_content {
    margin-bottom: 35px;
  }
  .hd_center_phone {
    display: none;
  }
  .col-sm-9.col-md-9.col-lg-9.pd_no {
    padding-left: 15px;
    padding-top: 8px;
  }
  .col-sm-8.col-md-8.col-lg-8.pd_no {
    padding-left: 15px;
    padding-top: 5px;
  }
}

@media screen and (max-width: 480px) {
  .contact_index .contact_ct {
    padding: 20px;
  }
}
/*# sourceMappingURL=style.css.map */