$color_white: #fff;
$color_black: black;
$color_body: #333;
$color_border: #e1e1e1;
$color_red: red;
$color_text: #008800;
$color_menu: #1A00FF;
$color_text_hover: #19c589;
body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background: $color_white;
    color: $color_body;
    background: url("../images/sky.jpg") no-repeat;
    background-size: cover;
}

.ovelay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    overflow: hidden;
    position: fixed;
    background: #0b0b0b;
    opacity: 0.6;
    transition: opacity .25s;
}

.open-nav {
    float: left;
    line-height: 66px;
    font-size: 28px;
    cursor: pointer;
    color: $color_border;
}

#menu-mobile {
    background: #f6f6f6;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 300px;
    height: 100%;
    -webkit-transform: translateX(-300px);
    -moz-transform: translateX(-300px);
    -ms-transform: translateX(-300px);
    -o-transform: translateX(-300px);
    transform: translateX(-300px);
    transition: all 0.4s;
    overflow: auto;
    .fa.fa-times {
        cursor: pointer;
    }
    .nav_mobile {
        padding: 20px 15px;
        h2 {
            color: #333;
            font-weight: 700;
            font-size: 24px;
            margin: 0;
            margin-bottom: 10px;
            position: relative;
            img {
                max-height: 50px;
            }
            i {
                font-size: 20px;
                font-weight: 400;
                position: absolute;
                right: 0;
                color: $color_text_hover;
            }
        }
        .search-mb {
            border: 1px solid #e9e9e9;
            padding: 20px 0;
            border-right: none;
            border-left: none;
            form {
                position: relative;
                .search {
                    border: 1px solid #e9e9e9;
                    width: 100%;
                    padding: 7px 10px;
                }
                .submit {
                    position: absolute;
                    top: 0;
                    right: 0;
                    background: $color_text_hover;
                    padding: 8px 10px;
                    border: none;
                    color: #fff;
                }
            }
        }
        ul {
            list-style: none;
            padding: 0;
            overflow: auto;
            li {
                clear: both;
                border-top: 1px solid #e9e9e9;
                position: relative;
                &:first-child {
                    border: none;
                }
                a {
                    color: $color_black;
                    padding: 10px 0;
                    display: inline-block;
                    &:hover {
                        opacity: 0.8;
                    }
                }
                .sub-menu {
                    padding: 0;
                    max-height: 0;
                    transition: all 0.5s;
                    overflow: hidden;
                    li {
                        &:first-child {
                            border-top: 1px solid #e9e9e9;
                        }
                        a {
                            padding-left: 20px;
                            display: inline-block;
                        }
                    }
                    .sub-menu {
                        max-height: 0;
                        overflow: hidden;
                        a {
                            padding-left: 40px;
                        }
                    }
                }
            }
            .active {
                a {
                    font-weight: 700;
                }
            }
        }
        .user-nav-mb {
            span {
                width: 50%;
                float: left;
                i {
                    margin-right: 10px;
                    color: $color_text_hover;
                }
                a {
                    color: $color_body;
                }
            }
        }
    }
    .accordion {
        color: $color_text_hover;
        cursor: pointer;
        width: 10%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        transition: all 0.4s;
        position: absolute;
        top: 0;
        right: 0;
        padding: 8px 0;
        background: none;
    }
    .accordion:after {
        content: "\f067";
        font-family: fontAwesome;
        color: $color_text_hover;
        font-weight: bold;
        margin-left: 5px;
    }
    .accordion.active:after {
        content: "\f068";
        font-family: FontAwesome;
    }
}

a {
    text-decoration: none !important;
}

.hrcat {
    width: 100%;
    height: 1px;
    margin: 15px auto 0 auto;
    clear: both;
    border: none;
    background: -moz-linear-gradient(left, #FFFFFF 0%, #009688 50%, #FFFFFF 100%);
    background: -webkit-linear-gradient(left, #FFFFFF 0%, #009688 50%, #FFFFFF 100%);
    background: linear-gradient(left, #FFFFFF 0%, #009688 50%, #FFFFFF 100%);
    background: -ms-linear-gradient(left, #FFFFFF 0%, #009688 50%, #FFFFFF 100%);
    background: -webkit-gradient(left, #FFFFFF 0%, #009688 50%, #FFFFFF 100%);
    display: inline-block;
}

img {
    max-width: 100% !important;
}

header {
    .hd_menu {
        .navbar.navbar-default {
            margin: 0;
            border: 0px;
            background: rgba($color_menu, 0.75);
            border-radius: 0px;
            box-shadow: none;
            ul {
                li {
                    a {
                        text-shadow: none;
                        color: $color_white;
                        text-shadow: none;
                        padding: 15px 15px;
                        font-weight: 600;
                        font-size: 15px;
                        &:hover {
                            background: $color_text_hover;
                        }
                    }
                }
                .fa.fa-caret-down.accordion {
                    position: absolute;
                    right: 3px;
                    top: 19px;
                    overflow: hidden;
                    z-index: 9999;
                    color: $color_white;
                }
                .show_menu {
                    position: relative;
                    &:hover {
                        background: $color_text_hover;
                        .sub_menu {
                            visibility: visible;
                            opacity: 1;
                            top: 50px;
                            transition: 0.4s;
                        }
                    }
                    .sub_menu {
                        position: absolute;
                        z-index: 999;
                        padding: 0;
                        min-width: 270px;
                        background: $color_text_hover;
                        visibility: hidden;
                        opacity: 0;
                        top: 100px;
                        transition: 0.4s;
                        li {
                            list-style: none;
                            display: block;
                            border-bottom: 1px dashed $color_border;
                            &:last-child {
                                border-bottom: none;
                            }
                            a {
                                display: block;
                                padding: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.ct_share {
    display: block;
    float: right;
    margin-bottom: 7px;
    .icon_share {
        z-index: 2;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        text-align: center;
        transition: all 0.3s;
        &::before {
            content: '';
            opacity: 0.66;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            position: absolute;
        }
        .team_icon {
            width: 100%;
            bottom: 20px;
            a {
                float: none;
                position: relative;
                z-index: 3;
                font-size: 20px !important;
                margin: 0 3px !important;
                display: inline-block;
                color: #fff;
                border-radius: 3px;
                overflow: hidden;
                text-decoration: none;
                i {
                    display: block;
                    line-height: 35px;
                    transition: all 0.4s;
                }
                &:hover {
                    i {
                        transition: all 0.4s;
                        transform: translateY(-35px);
                    }
                }
            }
            .smail {
                width: 35px;
                height: 35px;
                font-size: 14px;
                line-height: 25px !important;
            }
            .fb_icon {
                background-color: #3B5998;
            }
            .tw_icon {
                background-color: #00ACEE;
            }
            .gg_icon {
                background-color: #DD4B39;
            }
            .yt_icon {
                background-color: #C4302B;
            }
        }
    }
}


/* responsive */


/* 1199 991 767 480 414 375 360 320 max-width */

@media screen and (max-width: 1199px) {}

@media screen and (max-width: 991px) {
    header .hd_top .hd_right .hd_address p {
        display: none;
    }
    .ct_share {
        margin-top: 20px;
    }
    header .hd_top .hd_search {
        padding-top: 20px;
    }
    .smail.yt_icon {
        display: none !important;
    }
    .collapse.navbar-collapse.navbar-ex1-collapse {
        display: none !important;
    }
    .banner_main .bn_pro .bn_title {
        span {
            font-size: 16px;
        }
        p {
            font-size: 15px;
        }
    }
    .main_sidebar {
        margin-top: 30px;
    }
    header .hd_top .hd_search .form-group .bt_search {
        top: 47px;
    }
    .hd_search {
        display: none;
    }
    header .hd_center_phone {
        padding-top: 10px;
    }
}

@media screen and (max-width: 767px) {
    header .hd_top .logo {
        margin: 0 auto;
    }
    .hd_right {
        display: none;
    }
    .form-group {
        margin: 0;
    }
    .bn_pro {
        margin-bottom: 30px;
    }
    .banner_main {
        padding: 15px 0 0;
    }
    .ft_content {
        margin-bottom: 35px;
    }
    .hd_center_phone {
        display: none;
    }
    .col-sm-9.col-md-9.col-lg-9.pd_no {
        padding-left: 15px;
        padding-top: 8px;
    }
    .col-sm-8.col-md-8.col-lg-8.pd_no {
        padding-left: 15px;
        padding-top: 5px;
    }
}

@media screen and (max-width: 480px) {
    .contact_index .contact_ct {
        padding: 20px;
    }
}

@media screen and (max-width: 414px) {}

@media screen and (max-width: 375px) {}

@media screen and (max-width: 360px) {}

@media screen and (max-width: 320px) {}